<template>
  <nav>
    <router-link to="/">Home</router-link>
    <router-link to="/contacts">Contacts</router-link>
  </nav>
</template>

<style scoped>
nav {
  display: flex;
  font-weight: 600;
}

nav > * + * {
  margin-left: 1rem;
}
</style>
