<template>
  <article :aria-describedby="`#contact-${contact.id}`">
    <div class="contact-main-info-container">
      <h3 :id="`contact-${contact.id}`">{{ contactDisplayedName }}</h3>
    </div>
    <div class="image-container">
      <router-link
        :to="`/contacts/${contact.id}`"
        :aria-label="`Go to ${contactDisplayedName}'s profile'`"
      >
        <contact-profile-image
          class="contact-profile-image-holder"
          :contact-image="contact.contactImage"
          :primary-name="contact.primaryName"
        />
      </router-link>
    </div>
    <div class="contact-sub-info-container">
      <!-- More contact info can go here -->
    </div>
  </article>
</template>

<script lang="ts">
import { setupNameOrdering } from "@renderer/composables/name-ordering";
import { PropType, defineComponent, computed } from "vue";
import { Contact } from "../models/contact.model";
import ContactProfileImage from "@renderer/components/ContactProfileImage.vue";

export default defineComponent({
  name: "ContactCatalogCard",
  components: {
    ContactProfileImage,
  },
  props: {
    contact: {
      type: Object as PropType<Contact>,
      required: true,
    },
  },
  setup(props) {
    const { orderName } = setupNameOrdering();
    const contactDisplayedName = computed(() =>
      orderName(props.contact.primaryName)
    );

    return {
      orderName,
      contactDisplayedName,
    };
  },
});
</script>

<style scoped>
article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas:
    "image main"
    "image sub";
  row-gap: 1rem;
  border: 1px solid var(--alt-foreground-color);
  border-radius: 3px;
  padding: 0.5em;
}

article .image-container {
  grid-area: image;
  padding: 0 0.3em;
  display: flex;
  justify-content: center;
  width: 100px;
  height: 100px;
}

article .image-container .fa.fa-user {
  width: 100px;
  height: 100px;
}

article .image-container a:link,
article .image-container a:visited {
  display: block;
  color: inherit;
  text-decoration: none;
  height: inherit;
}

article .contact-main-info-container {
  grid-area: main;
  padding: 0.5em 0.3em 0.2em;
}

article .contact-sub-info-container {
  grid-area: sub;
  padding: 0.2em 0.3em 0.5em;
}

.contact-profile-image-holder {
  width: 100px;
  height: 100px;
  font-size: 2em;
}
</style>
