<template>
  <div class="contact-initials-container">
    {{ initials }}
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType, computed } from "vue";
import { setupNameOrdering } from "../composables/name-ordering";
import { Name, NameOrder, NameOrderType } from "../models/name.model";

export default defineComponent({
  name: "ContactInitials",
  props: {
    name: {
      type: Object as PropType<Name>,
      required: true,
    },
  },
  setup(props) {
    const { nameOrders } = setupNameOrdering();
    const extractInitials = (name?: string) =>
      name
        ? name
            .split(" ")
            .map((part) => part.substring(0, 1))
            .join("")
        : "";
    const initials = computed(() => {
      const { name } = props;
      const nameOrder = nameOrders.find(
        (nameOrder: NameOrder) => nameOrder.id === name.nameOrderId
      );
      switch (nameOrder?.type) {
        case NameOrderType.FirstMiddleLast:
          return `${extractInitials(name.givenName)}${extractInitials(
            name.surname
          )}`;
        case NameOrderType.FamilyMiddleGiven:
          if (!name.surname) {
            return `${extractInitials(name.givenName)}`;
          }
          return `${extractInitials(name.surname)}`;
        case NameOrderType.Irrelevant:
        default:
          return extractInitials(name.givenName);
      }
    });

    return {
      initials,
    };
  },
});
</script>

<style scoped>
.contact-initials-container {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background: var(--color-primary);
  font-weight: 700;
}
</style>
