<template>
  <article class="contact-small-list-item">
    <div class="leftside">
      <contact-profile-image
        class="contact-small-list-item-profile-image"
        :contact-image="contact.contactImage"
        :primary-name="contact.primaryName"
      />
      <router-link :to="`/contacts/${contact.id}`">
        {{ contact.primaryName.givenName }}
      </router-link>
    </div>
    <div class="rightside">
      <slot></slot>
    </div>
  </article>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import ContactProfileImage from "@renderer/components/ContactProfileImage.vue";
import { Contact } from "@renderer/models/contact.model";

export default defineComponent({
  name: "ContactSmallListItem",
  components: {
    ContactProfileImage,
  },
  props: {
    contact: {
      type: Object as PropType<Contact>,
      required: true,
    },
  },
});
</script>

<style scoped>
.contact-small-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.leftside {
  display: flex;
  align-items: center;
}

.leftside > * + * {
  margin: 0.5em;
}

.leftside > img {
  max-width: 30px;
  max-height: 30px;
}

.contact-small-list-item-profile-image {
  width: 30px;
  height: 30px;
  font-size: 0.8em;
}
</style>
