<template>
  <section
    v-if="contacts"
    aria-label="Contact Catalog. Catalog of all your contacts."
  >
    <contact-catalog-card
      v-for="contact of contacts"
      :key="`${contact.id}_${contact.primaryName.givenName}`"
      :contact="contact"
    ></contact-catalog-card>
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import ContactCatalogCard from "@renderer/components/ContactCatalogCard.vue";
import { NamesService } from "@renderer/services/names.service";
import { NameOrder } from "@renderer/models/name.model";
import { Contact } from "../models/contact.model";

interface ContactCatalogData {
  nameOrders: NameOrder[];
}

export default defineComponent({
  name: "ContactCatalog",
  components: {
    ContactCatalogCard,
  },
  props: {
    contacts: {
      type: Array as PropType<Contact[]>,
      default: () => [],
    },
  },
  data() {
    return {
      nameOrders: [],
    } as ContactCatalogData;
  },
  mounted() {
    NamesService.getNameOrders()
      .then((resp) => this.nameOrders.push(...resp))
      .catch(console.error);
  },
});
</script>

<style scoped>
section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1.2rem;
  row-gap: 1rem;
}

@media screen and (max-width: 1260px) {
  section {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 960px) {
  section {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  section {
    grid-template-columns: 1fr;
  }
}
</style>
