<template>
  <div>
    <img v-if="contactImage" :src="contactImage" />
    <contact-initials v-else :name="primaryName" />
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import ContactInitials from "@/renderer/components/ContactInitials.vue";
import { Name } from "@/renderer/models/name.model";

export default defineComponent({
  name: "ContactProfileImage",
  components: {
    ContactInitials,
  },
  props: {
    contactImage: {
      type: String,
      default: "",
    },
    primaryName: {
      type: Object as PropType<Name>,
      required: true,
    },
    fontSize: {
      type: String,
      default: "2em",
    },
  },
});
</script>

<style scoped>
img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
</style>
