<template>
  {{ MediumStyleDate(contact.dateOfBirth) }}
  <i> ({{ daysFromBirthday }}) </i>
</template>

<script lang="ts">
import { defineComponent, computed, PropType } from "vue";
import { LocaleFormat } from "@renderer/utils/locale-format";
import { Contact } from "@renderer/models/contact.model";

export default defineComponent({
  name: "DaysFromBirthday",
  props: {
    contact: {
      type: Object as PropType<Contact>,
      required: true,
    },
  },
  setup(props) {
    const daysFromBirthday = computed((): string => {
      const daysAwayFromBirthday =
        props.contact.daysFromThisYearsBirthday &&
        props.contact.daysFromThisYearsBirthday > 0
          ? (props.contact.daysFromThisYearsBirthday as number)
          : (props.contact.daysFromNextYearsBirthday as number);

      if (![0, 365].includes(daysAwayFromBirthday)) {
        return `${daysAwayFromBirthday} day${
          daysAwayFromBirthday > 1 ? "s" : ""
        }`;
      } else {
        return "today";
      }
    });
    return {
      daysFromBirthday,
      ...LocaleFormat,
    };
  },
});
</script>
