<template>
  <teleport v-if="isOpen" to="body">
    <focus-trap :active="true" :initial-focus="initialFocus">
      <article
        role="dialog"
        class="dialog"
        :aria-labelledby="title ? 'dialog-title' : null"
        aria-describedby="dialog-message"
      >
        <h1 v-if="title" id="dialog-title">
          <slot name="title">
            {{ title }}
          </slot>
        </h1>
        <div id="dialog-message">
          <slot>
            {{ message }}
          </slot>
        </div>
        <div class="dialog-options">
          <slot name="options">
            <button
              v-if="type === 'info'"
              ref="okChoice"
              class="is-primary"
              @click="closeDialog"
            >
              {{ okMessage }}
            </button>
            <button
              v-if="type === 'confirm'"
              ref="noChoice"
              :class="yesNoDefaultChoice === 'no' ? 'is-primary' : ''"
              @click="answerWith(false)"
            >
              {{ noMessage }}
            </button>
            <button
              v-if="type === 'confirm'"
              ref="yesChoice"
              :class="yesNoDefaultChoice === 'yes' ? 'is-primary' : ''"
              @click="answerWith(true)"
            >
              {{ yesMessage }}
            </button>
          </slot>
        </div>
      </article>
    </focus-trap>
  </teleport>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { DialogType, YesNoDialogDefaultChoice } from "@renderer/types/dialog";

export default defineComponent({
  name: "Dialog",
  props: {
    message: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      default: "",
    },
    type: {
      type: String as PropType<DialogType>,
      default: DialogType.Info,
      validator: (val: string) => {
        return Object.values<string>(DialogType).includes(val);
      },
    },
    okMessage: {
      type: String,
      default: "OK",
    },
    yesNoDefaultChoice: {
      type: String as PropType<YesNoDialogDefaultChoice>,
      default: YesNoDialogDefaultChoice.No,
      validator: (val: string) => {
        return Object.values<string>(YesNoDialogDefaultChoice).includes(val);
      },
    },
    yesMessage: {
      type: String,
      default: "Confirm",
    },
    noMessage: {
      type: String,
      default: "Cancel",
    },
  },
  data() {
    return {
      isOpen: false,
      resolve: undefined,
      reject: undefined,
    } as {
      isOpen: boolean;
      resolve?: <T>(value: T | PromiseLike<T>) => void;
      reject?: <T>(value: T | PromiseLike<T>) => void;
    };
  },
  methods: {
    pop<T>(): Promise<T> {
      this.openDialog();
      return new Promise<T>((resolve, reject) => {
        this.resolve = resolve;
        this.reject = reject;
      });
    },
    openDialog() {
      this.isOpen = true;
    },
    closeDialog() {
      this.isOpen = false;
    },
    answerWith(val: unknown) {
      this.resolve(val);
      this.closeDialog();
    },
    initialFocus() {
      if (this.type === DialogType.Info) {
        return this.$refs.okChoice;
      } else {
        return this.yesNoDefaultChoice === YesNoDialogDefaultChoice.No
          ? this.$refs.noChoice
          : this.$refs.yesChoice;
      }
    },
  },
});
</script>

<style scoped>
.dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  min-width: 200px;
  max-width: 40vw;
  flex-direction: column;
  background: var(--background-color);
  border: 1px solid var(--alt-foreground-color);
  border-radius: 5px;
  box-shadow: 3px 3px 8px 8px var(--box-shadow-color);
  z-index: 1000;
}

.dialog #dialog-message {
  padding: 1em 2em;
}

.dialog .dialog-options {
  display: flex;
  border-top: 1px solid var(--alt-foreground-color);
}
</style>

<style>
/*
 * This is intentionally global, so that we force the buttons to have the style
 * expected in a dialog
 */
.dialog .dialog-options > button {
  border: none;
  width: 100%;
  border-radius: 0;
}
</style>
