<template>
  <header>
    <div class="header-left">relman</div>
    <AppNavigation class="header-right" />
  </header>
</template>

<script setup>
import AppNavigation from "@renderer/components/AppNavigation.vue";
</script>

<style scoped>
header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.7rem;
  border-bottom: 1px solid var(--color-bright-black);
}
</style>
