<template>
  <div
    :class="[
      'drag-and-drop',
      isDraggedOver ? 'is-dragged-over' : '',
      file || simplerUi ? 'has-file' : '',
    ]"
    @drop.stop.prevent="handleDrop"
    @dragenter="isDraggedOver = true"
    @dragleave="isDraggedOver = false"
    @dragend="isDraggedOver = false"
    @dragover.prevent
  >
    <div class="image-container">
      <slot :image-src="imageSrc">
        <img v-if="imageSrc" :src="imageSrc" />
      </slot>
    </div>
    <label
      :class="['image-setter', (file || simplerUi) && 'has-file']"
      :for="inputId"
      aria-label="Click to insert image"
    >
      {{ labelMessage }}
      <input
        :id="inputId"
        ref="inputRef"
        type="file"
        accept=".png,.jpg,.jpeg"
        name="image"
        @change="handleInputChange"
      />
    </label>
  </div>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { useToast } from "vue-toastification";

interface ImageSetterData {
  localFile?: File | null;
  isDraggedOver: boolean;
  imageSrc?: string | null;
}

export default defineComponent({
  name: "ImageSetter",
  modal: {
    prop: "file",
    event: "changeFile",
  },
  props: {
    inputId: {
      type: String,
      default: `image-setter${Math.random()}`,
    },
    file: {
      type: Object as PropType<File | ArrayBuffer | null>,
      default: null,
    },
    simplerUi: {
      type: Boolean,
      default: false,
    },
  },
  emits: {
    updateFile(file: File | null | undefined) {
      return file;
    },
  },
  setup() {
    const toast = useToast();
    return {
      toast,
    };
  },
  data() {
    return {
      localFile: undefined,
      isDraggedOver: false,
      imageSrc: undefined,
    } as ImageSetterData;
  },
  computed: {
    labelMessage(data: ImageSetterData) {
      if (this.file || this.simplerUi) return "Edit";
      else if (data.isDraggedOver) return "Drop";
      else return "Insert image";
    },
  },
  onMount() {
    if (this.file) {
      const fileReader = new FileReader();
      fileReader.onload = (event) => {
        if (typeof event?.target?.result === "string") {
          this.imageSrc = event.target.result;
        } else {
          this.toast.error(
            "There was a problem reading your file. Please try a different file."
          );
        }
      };
      if (this.file instanceof File) {
        fileReader.readAsDataURL(this.file);
      } else if (this.file instanceof ArrayBuffer) {
        const decodedFileArrayBuffer = new TextDecoder().decode(this.file);
        fileReader.readAsArrayBuffer(
          new Blob([decodedFileArrayBuffer], {
            type: "plain/text",
          })
        );
      }
    }
  },
  methods: {
    handleDrop(event: DragEvent) {
      this.isDraggedOver = false;
      if (event.dataTransfer?.items) {
        this.localFile = event.dataTransfer.items[0].getAsFile();
        this.showImage();
        this.emitFileUpdate();
      }
    },
    handleInputChange() {
      const inputRef = this.$refs["inputRef"] as HTMLInputElement;
      if (inputRef?.files?.length) {
        this.localFile = inputRef?.files[0];
        this.showImage();
        this.emitFileUpdate();
      }
    },
    showImage() {
      if (this.localFile) {
        const fileReader = new FileReader();
        fileReader.onload = (event) => {
          if (typeof event?.target?.result === "string") {
            this.imageSrc = event.target.result;
          } else {
            this.toast.error(
              "There was a problem reading your file. Please try a different file."
            );
          }
        };
        fileReader.readAsDataURL(this.localFile);
      }
    },
    emitFileUpdate() {
      this.$emit("updateFile", this.localFile);
    },
  },
});
</script>

<style scoped>
.drag-and-drop {
  position: relative;
  display: flex;
  align-items: stretch;
  overflow: hidden;
  width: 200px;
  height: 200px;
  background: var(--color-bright-black);
  border-radius: 50%;
  z-index: 0;
}

.drag-and-drop.has-file > .image-setter.has-file {
  display: none;
}

.drag-and-drop.has-file:hover > .image-setter {
  display: flex;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.drag-and-drop.has-file:hover > .image-setter.has-file {
  background: rgba(0, 0, 0, 0.5);
}

.drag-and-drop .image-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding: 0;
}

.drag-and-drop .image-container > img {
  width: 100%;
}

.drag-and-drop.is-dragged-over.has-file > .image-container img {
  animation: animate-image 3s infinite;
}

.image-setter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  padding: 0.2em 1em;
  z-index: 3;
}

.image-setter.has-file {
  position: absolute;
  bottom: 0;
  transition: opacity 0.2s ease-in-out;
}

.image-setter > input[type="file"] {
  display: none;
}

@keyframes animate-image {
  from,
  to {
    filter: grayscale(0);
  }
  50% {
    filter: grayscale(0.8);
  }
}
</style>
