<template>
  <focus-trap :active="isOpen">
    <div class="menu">
      <slot name="menuButton" :toggleMenu="toggleMenu">
        <button aria-label="Open menu" @click="toggleMenu">
          <span class="fa fa-ellipsis-h" aria-hidden></span>
        </button>
      </slot>
      <div v-if="isOpen" :class="['menu-items', menuOrientationClass]">
        <slot>
          <template v-for="menuItem of menuItems" :key="menuItem.key">
            <button v-if="menuItem.type === 'choice'" @click="menuItem.action">
              {{ menuItem.text }}
            </button>
          </template>
        </slot>
      </div>
    </div>
  </focus-trap>
</template>

<script lang="ts">
import { defineComponent, PropType } from "vue";
import { MenuItem, MenuOrientation } from "@renderer/types/menu";
import kebab from "to-slug-case";

export default defineComponent({
  name: "Menu",
  model: {
    prop: "isOpen",
    change: "update:is-open",
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false,
    },
    menuItems: {
      type: Array as PropType<MenuItem[]>,
      default: () => [],
    },
    menuOrientation: {
      type: String,
      default: MenuOrientation.BottomLeft,
      validation: (value: MenuOrientation) => {
        return Object.values(MenuOrientation).includes(value);
      },
    },
  },
  emits: ["update:is-open"],
  computed: {
    menuOrientationClass: ({
      menuOrientation,
    }: {
      menuOrientation: MenuOrientation;
    }) => {
      return kebab(menuOrientation);
    },
  },
  methods: {
    toggleMenu() {
      this.$emit("update:is-open", !this.isOpen);
    },
  },
});
</script>

<style scoped>
.menu {
  position: relative;
}

.menu-items {
  border: 1px solid var(--color-bright-gray);
  min-width: 200px;
  max-width: 300px;
  overflow-x: hidden;
  position: absolute;
  padding: 0.2em;
  z-index: 9999;
}

.menu-items.top-left {
  top: 0;
  left: 0;
  transform: translateY(-100%);
}

.menu-items.top-right {
  top: 0;
  right: 0;
  transform: translateY(-100%);
}

.menu-items.left-top {
  top: 0;
  transform: translateX(-100%);
}

.menu-items.left-center {
  top: 50%;
  transform: translate(-100%, -50%);
}

.menu-items.left-bottom {
  bottom: 0;
  transform: translateX(-100%);
}

.menu-items.right-top {
  top: 0;
  right: 0;
  transform: translateX(100%);
}

.menu-items.right-center {
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
}

.menu-items.right-bottom {
  right: 0;
  bottom: 0;
  transform: translateX(100%);
}

.menu-items.bottom-left {
  top: 100%;
  left: 0;
}

.menu-items.bottom-right {
  top: 100%;
  right: 0;
}

::v-global(.menu-items > button) {
  text-align: left;
  width: 100%;
  border: none;
  border-radius: 0;
}
</style>
