<template>
  <teleport v-if="isOpen" to="body">
    <focus-trap :active="isOpen">
      <div class="modal-container">
        <div class="modal-overlay" @click="$emit('update:isOpen', false)"></div>
        <button
          class="modal-close-button"
          aria-label="Close current modal"
          @click="$emit('update:isOpen', false)"
        >
          <span class="fa fa-times" aria-hidden="true"></span>
        </button>
        <div class="modal-content">
          <slot></slot>
        </div>
      </div>
    </focus-trap>
  </teleport>
</template>

<script lang="ts">
export default {
  name: "Modal",
  model: {
    prop: "isOpen",
    change: "update:isOpen",
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["update:isOpen"],
  mounted() {
    document.addEventListener("keyup", this.closeModal);
  },
  unmounted() {
    document.removeEventListener("keyup", this.closeModal);
  },
  methods: {
    closeModal(event: KeyboardEvent) {
      if (event.key === "Escape") this.$emit("update:isOpen", false);
    },
  },
};
</script>

<style scoped>
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
  z-index: 1000;
  animation: fadeIn 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.modal-close-button {
  position: absolute;
  top: 2em;
  right: 2em;
  border: none;
  z-index: 1001;
}

.modal-content {
  z-index: 1001;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
</style>
