<template>
  <label for="givenName">Given Name</label>
  <input
    id="givenName"
    :value="givenName"
    type="text"
    name="givenName"
    required
    @input="$emit('update:givenName', $event.target.value)"
  />

  <label for="middleName">Middle Name</label>
  <input
    id="middleName"
    :value="middleName"
    type="text"
    name="middleName"
    @input="$emit('update:middleName', $event.target.value)"
  />

  <label for="surname">Surname</label>
  <input
    id="surname"
    :value="surname"
    type="text"
    name="surname"
    @input="$emit('update:surname', $event.target.value)"
  />

  <label for="nameOrderId">Name Order</label>
  <select
    id="nameOrderId"
    :value="nameOrderId"
    name="nameOrderId"
    required
    @input="$emit('update:nameOrderId', Number($event.target.value))"
  >
    <option
      v-for="nameOrder of nameOrders"
      :key="nameOrder.type"
      :value="nameOrder.id"
    >
      {{ nameOrder.type }}
    </option>
  </select>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore } from "vuex";
import { PrettyNameOrder } from "@renderer/models/name.model";

export default defineComponent({
  name: "NameAddForm",
  props: {
    givenName: { type: String, default: undefined },
    surname: { type: String, default: undefined },
    middleName: { type: String, default: undefined },
    nameOrderId: { type: Number, required: true },
  },
  emits: [
    "update:givenName",
    "update:surname",
    "update:middleName",
    "update:nameOrderId",
  ],
  setup() {
    const store = useStore();
    const nameOrders = ref<PrettyNameOrder[]>(
      store.getters["nameOrders/prettyNameOrders"]
    );

    return {
      nameOrders,
    };
  },
});
</script>
