<template>
  <nav :aria-label="navLabel">
    <button
      :disabled="isFirstPage"
      title="Go to previous page"
      @click="goToPrevPage"
    >
      <span class="fa fa-angle-left" aria-hidden="true"></span>
    </button>
    <div v-if="includePagesTrack" class="pages-track">
      <component
        :is="page !== '...' ? 'button' : 'span'"
        v-for="page in displayedPages"
        :key="page"
        class="borderless paddingless"
        :class="[currentPage === page && 'active']"
        @click="page !== '...' ? setToPage(page - 1) : null"
        >{{ page }}</component
      >
    </div>
    <input
      v-if="includeJumper"
      type="number"
      min="1"
      :max="totalPages"
      :value="currentPage"
      @input="handleJumperInput"
      @keyup.enter="handleJumperConfirm"
    />
    <button
      :disabled="isLastPage"
      title="Go to next page"
      @click="goToNextPage"
    >
      <span class="fa fa-angle-right" aria-hidden="true"></span>
    </button>
  </nav>
</template>

<script lang="ts">
import { defineComponent } from "vue";
export default defineComponent({
  name: "PaginationNav",
  props: {
    navLabel: {
      type: String,
      default: "Pagination Navigation",
    },
    totalPages: {
      type: Number,
      required: true,
    },
    currentPageIndex: {
      type: Number,
      required: true,
    },
    includePagesTrack: {
      type: Boolean,
      default: true,
    },
    includeJumper: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["update:currentPageIndex"],
  computed: {
    currentPage(): number {
      return this.currentPageIndex + 1;
    },
    isFirstPage(): boolean {
      return this.currentPageIndex === 0;
    },
    isLastPage(): boolean {
      return this.currentPageIndex === this.totalPages - 1;
    },
    displayedPages(): (number | "...")[] {
      if (this.totalPages <= 7) {
        return [...new Array(this.totalPages).keys()].map((n) => n + 1);
      } else {
        const inBetweens: (number | "...")[] = [];
        if (this.totalPages - 2 <= this.currentPage || this.currentPage <= 3) {
          inBetweens.push(
            this.currentPage <= 3 ? 3 : "...",
            ...(this.currentPage === 3 ? [4] : []),
            ...(this.currentPage === this.totalPages - 2
              ? [this.totalPages - 3]
              : []),
            this.currentPage > 3 ? this.totalPages - 2 : "..."
          );
        } else {
          if (this.currentPage - 1 !== 3) inBetweens.push("...");
          inBetweens.push(
            this.currentPage - 1,
            this.currentPage,
            this.currentPage + 1
          );
          if (this.currentPage + 1 !== this.totalPages - 2)
            inBetweens.push("...");
        }

        return [1, 2, ...inBetweens, this.totalPages - 1, this.totalPages];
      }
    },
  },
  methods: {
    setToPage(i: number): void {
      this.$emit("update:currentPageIndex", i);
    },
    goToPrevPage(): void {
      if (!this.isFirstPage) {
        this.setToPage(this.currentPageIndex - 1);
      }
    },
    goToNextPage(): void {
      if (!this.isLastPage) {
        this.setToPage(this.currentPageIndex + 1);
      }
    },
    handleJumperInput(e: Event): void {
      if (e.currentTarget) {
        const currentInputTarget = <HTMLInputElement>e.currentTarget;
        const rawValue = currentInputTarget.value;

        if (rawValue) {
          const value = parseInt(rawValue);
          if (value > this.totalPages)
            currentInputTarget.value = this.totalPages.toString();
          else if (value < 1) currentInputTarget.value = "1";
        }
      }
    },
    handleJumperConfirm(e: Event) {
      if (e.currentTarget) {
        const currentInputTarget = <HTMLInputElement>e.currentTarget;
        const rawValue = currentInputTarget.value;

        if (rawValue) {
          const value = parseInt(rawValue);
          this.setToPage(value - 1);
        }
      }
    },
  },
});
</script>

<style scoped>
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > * + * {
  margin-left: 1em;
}

.pages-track {
  display: flex;
}

.pages-track > * + * {
  margin-left: 0.7em;
}

.pages-track > .active {
  text-decoration: underline;
}
</style>
