<template>
  <article class="quickContactCreatorContainer">
    <h1>Make a New Contact</h1>
    <form>
      <div class="twoColumns imageSetterContainer">
        <image-setter
          v-model:file="contactImage"
          class="contact-image-setter"
          input-id="contactImage"
          @update-file="setContactImage"
        />
      </div>

      <label for="givenName">Given Name</label>
      <input
        id="givenName"
        v-model="givenName"
        type="text"
        name="givenName"
        required
      />

      <label for="surname">Surname</label>
      <input id="surname" v-model="surname" type="text" name="surname" />

      <label for="middleName">Middle Name</label>
      <input
        id="middleName"
        v-model="middleName"
        type="text"
        name="middleName"
      />

      <label for="nameOrderId">Name Order</label>
      <select
        id="nameOrderId"
        v-model="nameOrderId"
        name="nameOrderId"
        required
      >
        <option
          v-for="nameOrder of nameOrders"
          :key="nameOrder.type"
          :value="nameOrder.id"
        >
          {{ nameOrder.type }}
        </option>
      </select>

      <label for="dateOfBirth">Date Of Birth</label>
      <date-time-picker
        id="dateOfBirth"
        v-model:selected-date="dateOfBirth"
        label=""
        name="dateOfBirth"
        :no-time="true"
        menu-orientation="top_left"
      />

      <label for="lastContactedAt">Last Contacted At</label>
      <date-time-picker
        id="lastContactedAt"
        v-model:selected-date="lastContactedAt"
        label=""
        name="lastContactedAt"
        menu-orientation="top_left"
      />

      <button class="isPrimary twoColumns submitButton" @click="submit">
        Submit
      </button>
    </form>
  </article>
</template>

<script lang="ts">
import { defineComponent, ref } from "vue";
import { useStore } from "vuex";
import { NewContact } from "@renderer/models/contact.model";
import { ContactsService } from "@renderer/services/contacts.service";
import { prettifyNameOrderString } from "@renderer/services/names.service";
import ImageSetter from "@renderer/components/ImageSetter.vue";
import DateTimePicker from "@renderer/components/fragments/DateTimePicker.vue";
import { NameOrderType, PrettyNameOrder } from "../models/name.model";

interface QuickContactCreatorData {
  givenName?: string;
  surname?: string;
  middleName?: string;
  dateOfBirth?: string;
  contactImage?: ArrayBuffer;
  nameOrderId?: string;
  nameOrders?: PrettyNameOrder[];
  lastContactedAt?: string;
}

export default defineComponent({
  name: "QuickContactCreator",
  components: {
    ImageSetter,
    DateTimePicker,
  },
  emits: ["success", "failure"],
  setup() {
    const store = useStore();
    const nameOrders = ref<PrettyNameOrder[]>(
      store.getters["nameOrders/prettyNameOrders"]
    );

    return {
      nameOrders,
    };
  },
  data() {
    return {
      givenName: undefined,
      surname: undefined,
      middleName: undefined,
      dateOfBirth: undefined,
      contactImage: undefined,
      nameOrderId: undefined,
      nameOrders: undefined,
      lastContactedAt: undefined,
    } as QuickContactCreatorData;
  },
  methods: {
    submit(e: Event) {
      e.preventDefault();
      // Perhaps we should have better validation here
      if (this.givenName) {
        const newContact: NewContact = {
          primaryName: {
            givenName: this.givenName,
            surname: this.surname,
            middleName: this.middleName,
            nameOrderId: (() => {
              if (this.nameOrderId) return this.nameOrderId;
              if (this.nameOrders)
                return (
                  this.nameOrders.find(
                    (nameOrder) =>
                      nameOrder.type ===
                      prettifyNameOrderString(NameOrderType.Irrelevant)
                  )?.id ?? "0"
                );
              return "0";
            })(),
          },
          dateOfBirth: this.$dayjs(this.dateOfBirth).toISOString(),
          contactImage: this.contactImage,
          lastContactedAt: this.lastContactedAt
            ? this.$dayjs(this.lastContactedAt).toDate()
            : undefined,
        };

        ContactsService.create({
          ...newContact,
          primaryName: newContact.primaryName,
        })
          .then(() => this.$emit("success"))
          .catch((error) => {
            console.error(error);
            this.$emit("failure");
          });
      }
    },
    async setContactImage(file?: File | null): Promise<void> {
      if (file) {
        this.contactImage = await file.arrayBuffer();
      }
    },
  },
});
</script>

<style scoped>
.contact-image-setter {
  width: 150px;
  height: 150px;
}

.quickContactCreatorContainer {
  background: var(--background-color);
  color: var(--foreground-color);
  text-align: left;
  padding: 2em 5em;
  min-width: clamp(380px, 60vw, 780px);
}

.quickContactCreatorContainer > * + * {
  margin-top: 1em;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 2em;
  row-gap: 0.8em;
  align-items: center;
}

form > .twoColumns {
  grid-column: span 2;
}

.imageSetterContainer {
  display: flex;
  justify-content: center;
}

form label {
  text-align: right;
}

.submitButton {
  margin: 1em 4em;
}
</style>
