<template>
  <button class="borderless">
    <slot></slot>
  </button>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "SearchableSelectOption",
});
</script>

<style scoped>
button {
  display: block;
  width: 100%;
  background: transparent;
}

button:hover {
  background: var(--color-gray);
}
</style>
