<template>
  <article tabindex="-1">
    <input
      src="text"
      :name="name"
      :placeholder="placeholder"
      :value="searchValue"
      @input="onInput"
      @keyup.enter="$emit('confirm:search')"
    />
    <button
      class="borderless clear-button"
      title="Clear input"
      :disabled="searchValue === ''"
      @click="clearInput"
    >
      <span class="fa fa-times-circle" aria-hidden="true"></span>
    </button>
    <ol class="selectable-options">
      <slot></slot>
    </ol>
  </article>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "SearchableSelect",
  props: {
    name: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      required: true,
    },
    searchValue: {
      type: String,
      required: true,
    },
  },
  emits: ["update:choice", "update:searchValue", "confirm:search"],
  methods: {
    onInput(event: Event) {
      this.$emit(
        "update:searchValue",
        (event.currentTarget as HTMLInputElement).value
      );
    },
    clearInput() {
      this.$emit("update:searchValue", "");
      this.$emit("confirm:search");
    },
  },
});
</script>

<style scoped>
article {
  position: relative;
}

input {
  width: 100%;
}

input + .clear-button {
  position: absolute;
  right: 0;
  background: transparent;
}

input + .clear-button:disabled {
  color: var(--color-dark-gray);
}

ol.selectable-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--color-dark-gray);
}
</style>
