<template>
  <div class="controls" role="toolbar">
    <button v-if="!isEditing" title="Edit information" @click="beginEditing">
      <span class="fa fa-pencil" aria-hidden></span>
    </button>
    <button v-if="isEditing" title="Stop editing" @click="isEditing = false">
      <span class="fa fa-times" aria-hidden></span>
    </button>
    <button v-if="isEditing" title="Confirm editing" @click="confirmEdit">
      <span class="fa fa-check" aria-hidden></span>
    </button>
    <Menu v-model:is-open="isControlMenuOpen" menu-orientation="bottom-right">
      <button v-if="!contact?.lastContactedKeptInView" @click="keepInView">
        <span class="fa fa-eye" aria-hidden></span> Keep in view
      </button>
      <button v-if="contact?.lastContactedKeptInView" @click="removeFromView">
        <span class="fa fa-eye" aria-hidden></span> Remove from view
      </button>
      <button style="color: var(--color-red)" @click="deleteContact">
        <span class="fa fa-trash" aria-hidden></span> Delete this contact
      </button>
    </Menu>
  </div>
  <main v-if="contact">
    <header class="contact-header">
      <section class="header-hero" aria-label="Cover photos"></section>
      <section class="header-contact-info" aria-label="Brief contact info">
        <contact-profile-image
          v-if="!isEditing"
          class="header-contact-image-container header-contact-image"
          :contact-image="contact.contactImage"
          :primary-name="contact.primaryName"
        />
        <image-setter
          v-else
          v-model:file="contactImageInEditing"
          class="header-contact-image-container"
          :simpler-ui="true"
        >
          <template #default="{ imageSrc }">
            <contact-profile-image
              class="header-contact-image"
              :contact-image="imageSrc || contactInEditing?.contactImage"
              :primary-name="contactInEditing.primaryName"
              width="100px"
              height="100px"
            />
          </template>
        </image-setter>
        <h1>{{ contactDisplayedName }}</h1>
        <span>
          Last contacted:
          <i v-if="!isEditing">{{
            contact?.lastContactedAt
              ? MediumStyleDate(contact.lastContactedAt.toISOString())
              : "Never"
          }}</i>
          <date-time-picker
            v-else-if="contactInEditing"
            :default-date="
              contactInEditing.lastContactedAt
                ? $dayjs(contactInEditing.lastContactedAt)
                : null
            "
            label=""
            name="lastContactedAt"
            menu-orientation="bottom_right"
            @update:selected-date="
              (selection) => (contactInEditing.lastContactedAt = selection)
            "
          />
        </span>
      </section>
    </header>
    <article
      class="contact-info basic-contact-info"
      aria-label="Basic contact information"
    >
      <div class="left-side">
        <single-contact-names
          ref="nameSection"
          class="section"
          :is-editing="isEditing"
          :names="contact.names"
          :primary-name-id="contact.primaryName.id"
          @update:names-in-editing="registerNameEdits"
          @reset:names-in-editing="resetNameEdits"
        />
        <section class="basic-info">
          <h2>Basic Info</h2>
          <div class="grid">
            <div class="list-item-title">
              <span class="fa fa-birthday-cake"></span> Birthday
            </div>
            <div class="list-item-value">
              {{ contact?.dateOfBirth && MediumStyleDate(contact.dateOfBirth) }}
            </div>
            <div class="list-item-title">
              <span class="fa fa-user-circle"></span> Age
            </div>
            <div class="list-item-value">
              {{
                contact?.dateOfBirth &&
                calculateAge($dayjs(contact.dateOfBirth).toDate())
              }}
            </div>
          </div>
        </section>
      </div>
    </article>
    <!--
      <pre v-if="contact"><code>{{ contact }}</code></pre>
    -->
  </main>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import { useToast } from "vue-toastification";
import { useRouter } from "vue-router";
import { cloneDeep } from "lodash-es";
import Menu from "@renderer/components/Menu.vue";
import ContactProfileImage from "@renderer/components/ContactProfileImage.vue";
import ImageSetter from "@renderer/components/ImageSetter.vue";
import DateTimePicker from "@renderer/components/fragments/DateTimePicker.vue";
import SingleContactNames from "@renderer/components/fragments/SingleContactNames.vue";
import { ContactsService } from "@renderer/services/contacts.service";
import { NamesService } from "@renderer/services/names.service";
import { Contact, ContactInEdit } from "@renderer/models/contact.model";
import { NameInEdit } from "@renderer/models/name.model";
import { LocaleFormat } from "@renderer/utils/locale-format";
import { setupNameOrdering } from "@renderer/composables/name-ordering";
import { setupAgeCalculator } from "@renderer/composables/age-calculator";

interface OneContactData {
  hasFailedToLoad: boolean;
  retryAttempts: number;
}

export default defineComponent({
  name: "OneContact",
  components: {
    ContactProfileImage,
    DateTimePicker,
    ImageSetter,
    Menu,
    SingleContactNames,
  },
  props: {
    id: {
      type: String,
      required: true,
    },
  },
  setup() {
    const nameSection = ref<InstanceType<typeof SingleContactNames>>();

    const contact = ref<Contact>();
    const contactInEditing = ref<ContactInEdit>();
    const contactImageInEditing = ref<File>();

    const toast = useToast();
    const router = useRouter();

    const { orderName } = setupNameOrdering();
    const contactDisplayedName = computed(() =>
      contact?.value?.primaryName ? orderName(contact.value.primaryName) : ""
    );

    const { calculateAge } = setupAgeCalculator();

    const isEditing = ref(false);
    const isControlMenuOpen = ref(false);

    const areNamesEdited = ref(false);

    return {
      nameSection,
      contact,
      contactInEditing,
      contactImageInEditing,
      contactDisplayedName,
      toast,
      router,
      orderName,
      calculateAge,
      isEditing,
      isControlMenuOpen,
      areNamesEdited,
      ...LocaleFormat,
    };
  },
  data() {
    return {
      hasFailedToLoad: false,
      retryAttempts: 0,
    } as OneContactData;
  },
  mounted() {
    this.loadContact();
  },
  methods: {
    loadContact() {
      ContactsService.getOneById(this.id)
        .then((resp) => {
          this.contact = resp;
          if (this.hasFailedToLoad) {
            this.hasFailedToLoad = false;
            this.retryAttempts = 0;
          }
          this.nameSection?.resetEdits();
        })
        .catch((error) => {
          console.error(error);
          this.hasFailedToLoad = true;
          if (this.retryAttempts >= 3) {
            this.toast.error("There's a problem loading this contact.");
          } else {
            this.retryAttempts += 1;
            this.loadContact();
          }
        });
    },
    async deleteContact() {
      this.isControlMenuOpen = false;
      const confirmed = await this.$dialog.confirm(
        "Are you sure you want to delete this contact?"
      );
      if (confirmed) {
        await ContactsService.deleteOneById(this.id)
          .then(() => {
            this.toast.success(
              `Deleted ${this.contact?.primaryName.givenName}`
            );
            this.router.push("/contacts");
          })
          .catch((error) => {
            console.error(error);
            this.toast.error("Failed to delete this contact");
          });
      }
    },
    keepInView() {
      if (this.contact) {
        this.contact.lastContactedKeptInView = true;
        ContactsService.keepInViewByIds([this.id]);
      }
    },
    removeFromView() {
      if (this.contact) {
        this.contact.lastContactedKeptInView = false;
        ContactsService.removeFromViewByIds([this.id]);
      }
    },
    beginEditing() {
      if (!this.isEditing) {
        this.isEditing = true;
        this.contactInEditing = cloneDeep(this.contact);
        this.isControlMenuOpen = false;
      }
    },
    resetNameEdits() {
      if (this.contact && this.isEditing) {
        this.contactInEditing.names = cloneDeep(this.contact.names);
        this.areNamesEdited = false;
      }
    },
    registerNameEdits(names: NameInEdit[]) {
      if (this.isEditing) {
        this.contactInEditing.names = names;
        this.areNamesEdited = true;
      }
    },
    async confirmEdit() {
      if (this.isEditing) {
        if (
          this.contactInEditing?.lastContactedAt !== undefined &&
          this.contactInEditing?.lastContactedAt !== null &&
          !this.$dayjs(this.contactInEditing?.lastContactedAt).isSame(
            this.$dayjs(this.contact?.lastContactedAt)
          )
        ) {
          this.toast.info("Updating last contacted date...");
          ContactsService.updateContactById(this.id, {
            lastContactedAt: this.contactInEditing.lastContactedAt,
          });
        }

        if (this.areNamesEdited) {
          const [newNames, existingNames, namesToRemove, chosenPrimaryName]: [
            NameInEdit[],
            NameInEdit[],
            NameInEdit[],
            NameInEdit | undefined
          ] = this.contactInEditing.names.reduce(
            (
              boxes: [
                NameInEdit[],
                NameInEdit[],
                NameInEdit[],
                NameInEdit | undefined
              ],
              name: NameInEdit
            ) => {
              if (name.isPrimary) {
                boxes[3] = name;
              } else if (name.toBeRemoved) {
                boxes[2].push(name);
              } else if (name.id) {
                boxes[1].push(name);
              } else {
                boxes[0].push(name);
              }
              return boxes;
            },
            [[], [], [], undefined]
          );

          if (!chosenPrimaryName) {
            this.toast.error("Primary name wasn't chosen.");
            return;
          }

          const {
            isPrimary: _isPrimary,
            toBeRemoved: _toBeRemoved,
            ...chosenPrimaryNameInfo
          } = chosenPrimaryName;
          if (chosenPrimaryName.id) {
            await NamesService.updateNameById(chosenPrimaryName.id, {
              ...chosenPrimaryNameInfo,
            });
            await NamesService.setPrimaryNameForContact(
              this.contact.id,
              chosenPrimaryName.id
            );
          } else {
            const newName = await NamesService.create({
              ...chosenPrimaryNameInfo,
            });
            await NamesService.setPrimaryNameForContact(
              this.contact.id,
              newName.id
            );
          }

          if (newNames.length)
            await NamesService.addNamesForContactId(
              this.contact.id,
              newNames.map((name) => {
                const {
                  isPrimary: _isPrimary,
                  toBeRemoved: _toBeRemoved,
                  ...nameInfo
                } = name;

                return {
                  ...nameInfo,
                };
              })
            );
          if (existingNames.length)
            await Promise.all(
              existingNames.map((name) => {
                const {
                  isPrimary: _isPrimary,
                  toBeRemoved: _toBeRemoved,
                  ...nameInfo
                } = name;
                return NamesService.updateNameById(name.id, { ...nameInfo });
              })
            );
          if (namesToRemove.length)
            await NamesService.removeNamesByIds(
              namesToRemove.map((name) => name.id)
            );

          this.areNamesEdited = false;
        }

        this.isEditing = false;
        this.isControlMenuOpen = false;
        this.toast.info("Reloading contact...");
        this.loadContact();
      }
    },
  },
});
</script>

<style scoped>
.controls {
  display: flex;
  justify-content: flex-end;
}

.controls > * + * {
  margin-left: 0.5em;
}

main > * + * {
  margin-top: 1em;
}

.contact-header {
  position: relative;
}

.header-hero {
  height: 300px;
}

.header-contact-info {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.header-contact-info > * + * {
  margin-top: 0.7em;
}

.header-contact-image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--foreground-color);
  box-sizing: content-box;
}

.header-contact-image {
  width: 100px;
  height: 100px;
  font-size: 2em;
}

.contact-info {
  padding: 0 2em;
}

.contact-info > * > .section,
.contact-info > * > section {
  padding: 0.5em 0.7em 1em;
  border: 1px solid var(--foreground-color);
  border-radius: 5px;
}

.basic-contact-info .left-side {
  max-width: 300px;
  margin: 0 auto;
}

.basic-contact-info .left-side > * + * {
  margin-top: 1em;
}

.basic-info .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 0.5em;
}
</style>
