<template>
  <h1>Contacts</h1>
  <main class="tempo">
    <div class="controls">
      <button @click="isQuickContactCreatorModalOpen = true">
        <span class="fa fa-plus" aria-hidden></span> Create a new contact
      </button>
      <modal
        v-model:is-open="isQuickContactCreatorModalOpen"
        @close-modal="isQuickContactCreatorModalOpen = false"
      >
        <quick-contact-creator
          @success="successfulContactCreation"
          @failure="failedContactCreation"
        />
      </modal>
    </div>
    <div class="search-controls" role="search">
      <input
        v-model="searchTerm"
        type="text"
        placeholder="Search for contacts..."
        @input="searchContacts"
      />
    </div>
    <contact-catalog v-if="contacts.length" :contacts="contacts" />
    <pagination-nav
      :total-pages="totalPages"
      :current-page-index="currentPage"
      @update:current-page-index="updateCurrentPage"
    />
  </main>
</template>

<script lang="ts">
import ContactCatalog from "@renderer/components/ContactCatalog.vue";
import Modal from "@renderer/components/Modal.vue";
import QuickContactCreator from "@renderer/components/QuickContactCreator.vue";
import PaginationNav from "@/renderer/components/PaginationNav.vue";
import { ContactsService } from "@renderer/services/contacts.service";
import { useToast } from "vue-toastification";
import { ref, defineComponent } from "vue";
import { Contact } from "@renderer/models/contact.model";
import { prepareForPagination } from "@/renderer/composables/pagination";

interface ContactsData {
  contacts: Contact[];
  searchTerm: string;
}

export default defineComponent({
  name: "Contacts",
  components: {
    ContactCatalog,
    Modal,
    QuickContactCreator,
    PaginationNav,
  },
  setup() {
    const toast = useToast();

    const isQuickContactCreatorModalOpen = ref(false);

    const defaultPageSize = 50;
    const { currentPage, totalPages, pageSize } =
      prepareForPagination(defaultPageSize);

    return {
      toast,
      isQuickContactCreatorModalOpen,
      currentPage,
      totalPages,
      pageSize,
    };
  },
  data() {
    return {
      contacts: [],
      searchTerm: "",
    } as ContactsData;
  },
  watch: {
    searchTerm(oldValue: string, newValue: string) {
      if (oldValue !== newValue) {
        this.currentPage = 0;
      }
    },
  },
  mounted() {
    this.fetchContacts();
  },
  methods: {
    fetchContacts() {
      ContactsService.getAll(this.currentPage, this.pageSize).then((resp) => {
        this.contacts = resp.results;
        if (this.totalPages != resp.totalPages)
          this.totalPages = resp.totalPages;
      });
    },
    searchContacts(): void {
      if (this.searchTerm) {
        ContactsService.searchAll(
          this.searchTerm,
          this.currentPage,
          this.pageSize
        ).then((resp) => {
          this.contacts = resp.results;
          if (this.totalPages != resp.totalPages)
            this.totalPages = resp.totalPages;
        });
      } else {
        this.fetchContacts();
      }
    },
    updateCurrentPage(newCurrentPage: number): void {
      this.currentPage = newCurrentPage;
      if (!this.searchTerm) {
        this.fetchContacts();
      } else {
        this.searchContacts();
      }
    },
    successfulContactCreation() {
      this.toast.success("New contact created!");
      this.fetchContacts();
      this.isQuickContactCreatorModalOpen = false;
    },
    failedContactCreation() {
      this.toast.error("Something went wrong 😥 Please try again.");
    },
  },
});
</script>

<style scoped>
.controls {
  display: flex;
  justify-content: flex-end;
}

.search-controls {
  display: flex;
  justify-content: space-around;
}

.search-controls > input[type="text"] {
  height: 3em;
  padding: 0.2em 0.5em;
  width: 80%;
  border-radius: 5px;
  background: transparent;
  transition: background 0.2s ease-in-out;
}

.search-controls > input[type="text"]:focus-visible {
  outline: none;
  border: 3px dashed var(--color-primary);
  background: var(--alt-background-color);
}
</style>
