<template>
  <main></main>
  <aside>
    <kiv-list />
    <upcoming-birthdays />
  </aside>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import KivList from "@renderer/components/fragments/KivList.vue";
import UpcomingBirthdays from "@renderer/components/fragments/UpcomingBirthdays.vue";

export type IndexPageData = {
  state: number;
};

export default defineComponent({
  components: {
    KivList,
    UpcomingBirthdays,
  },
  data(): IndexPageData {
    return {
      state: 0,
    };
  },
});
</script>

<style scoped>
.relative {
  position: relative;
}

aside > * + * {
  margin-top: 2em;
}
</style>
