<template>
  <main>
    <div>
      <h1>Colors</h1>
      <div class="color-palette">
        <div class="normal-colors">
          <div class="colorblock" style="background: var(--color-black)"></div>
          <div class="colorblock" style="background: var(--color-red)"></div>
          <div class="colorblock" style="background: var(--color-green)"></div>
          <div class="colorblock" style="background: var(--color-yellow)"></div>
          <div class="colorblock" style="background: var(--color-blue)"></div>
          <div class="colorblock" style="background: var(--color-purple)"></div>
          <div class="colorblock" style="background: var(--color-cyan)"></div>
          <div class="colorblock" style="background: var(--color-white)"></div>
        </div>
        <div class="bright-colors">
          <div
            class="colorblock"
            style="background: var(--color-bright-black)"
          ></div>
          <div
            class="colorblock"
            style="background: var(--color-bright-red)"
          ></div>
          <div
            class="colorblock"
            style="background: var(--color-bright-green)"
          ></div>
          <div
            class="colorblock"
            style="background: var(--color-bright-yellow)"
          ></div>
          <div
            class="colorblock"
            style="background: var(--color-bright-blue)"
          ></div>
          <div
            class="colorblock"
            style="background: var(--color-bright-purple)"
          ></div>
          <div
            class="colorblock"
            style="background: var(--color-bright-cyan)"
          ></div>
          <div
            class="colorblock"
            style="background: var(--color-bright-white)"
          ></div>
        </div>
      </div>
    </div>
    <div style="display: flex; flex-direction: column">
      <h1>Common components</h1>
      <button>Button</button>
      <button class="isPrimary">Button</button>
      <input
        id="sample-input"
        type="text"
        value=""
        name="sample-input"
        placeholder="Sample input"
      />
      <textarea
        id="sample-textarea"
        name="sample-textarea"
        placeholder="Sample textarea"
      ></textarea>
      <input
        id="sample-range"
        v-model="rangeValue"
        type="range"
        name="sample-range"
        min="0"
        max="20"
      />
      <option for="sample-range">{{ rangeValue }}</option>

      <br />
      <select id="sample-selection" name="sample-selection">
        <option value="opt-1">Option 1</option>
        <option value="opt-2">Option 2</option>
        <option value="opt-3">Option 3</option>
      </select>
      <select
        id="sample-multi-selection"
        name="sample-multi-selection"
        multiple
        size="3"
      >
        <option value="opt-1">Option 1</option>
        <option value="opt-2">Option 2</option>
        <option value="opt-3">Option 3</option>
      </select>
      <progress max="100" value="65" />
    </div>

    <div>
      <h1>Test state switching</h1>
      {{ colorscheme }}<br />
      <button @click="setColorschemeToLight">Set to light</button>
      <button @click="setColorschemeToDark">Set to dark</button>
      <button @click="setColorschemeToSystem">Set to system</button>
      <button @click="saveConfigs">Save config</button>
      <div class="colorblock" style="background: var(--color-primary)"></div>
      <div class="colorblock" style="background: var(--color-secondary)"></div>
      <div class="colorblock" style="background: var(--color-tertiary)"></div>
      <div
        class="colorblock"
        style="background: var(--color-quarternary)"
      ></div>
      <div class="colorblock" style="background: var(--color-quinary)"></div>
    </div>
  </main>
  <div class="prose">
    <h1>Heading 1</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut leo sit
      amet dui feugiat hendrerit placerat ut massa. Quisque placerat, tortor nec
      dictum tristique, dolor nunc suscipit sapien, non tristique orci neque et
      urna. Nulla interdum, nisi posuere vestibulum fringilla, arcu mi dignissim
      eros, ac egestas sem enim sed lorem. Ut at dapibus odio. Aliquam quis
      dictum elit, at pulvinar justo. Sed eros nibh, lobortis vel condimentum
      sit amet, malesuada sit amet elit. Vivamus gravida lacus non ipsum
      vehicula, a facilisis diam rhoncus. Ut pulvinar feugiat sem sed finibus.
      Suspendisse venenatis rutrum vulputate. Cras quis ligula vel quam
      vestibulum venenatis id at elit.
    </p>

    <h2>Heading 2</h2>
    <p>
      Ut posuere tempor tempor. Suspendisse eget eros efficitur, cursus massa
      non, ullamcorper odio. Suspendisse feugiat justo et hendrerit euismod.
      Cras sit amet dolor nibh. In ornare suscipit nibh, sed finibus felis
      fermentum sit amet. Praesent pulvinar odio eget mi fringilla, ac vehicula
      libero maximus. Mauris eleifend pharetra velit. Quisque sagittis sodales
      lectus eget laoreet. Sed sit amet tincidunt purus. Sed non varius elit.
    </p>

    <h1>Heading 1</h1>
    <p>
      Proin efficitur nulla eu mauris accumsan, ut aliquam est iaculis. Cras
      cursus non turpis id auctor. In gravida ante sed dignissim placerat. Morbi
      ac odio magna. Interdum et malesuada fames ac ante ipsum primis in
      faucibus. Donec et orci nec tortor aliquam condimentum. Integer commodo,
      lacus sit amet faucibus dapibus, tellus neque hendrerit sapien, a egestas
      felis orci dictum dolor. Vestibulum ante ipsum primis in faucibus orci
      luctus et ultrices posuere cubilia curae; Fusce quis interdum quam. Aenean
      et blandit lacus, eu luctus lacus. Nullam ultrices, urna ut dapibus
      vulputate, risus massa interdum purus, at commodo leo lorem eleifend diam.
      Morbi non sapien lorem. Morbi vestibulum, tortor vitae varius posuere, dui
      metus auctor dui, vitae viverra mi diam sit amet dui. Donec ac tincidunt
      ipsum. Aliquam imperdiet libero ut pellentesque tempus.
    </p>

    <blockquote>
      Vivamus hendrerit, velit vitae dictum gravida, mauris massa scelerisque
      elit, at sodales risus arcu sed mi. Curabitur nibh ipsum, finibus molestie
      faucibus vitae, vulputate at quam. Sed nulla ex, gravida a vulputate non,
      tempor tempus arcu. Nulla finibus erat purus, vel ornare nibh hendrerit
      quis. Aenean in ligula felis. Quisque tempus nulla ex, ornare imperdiet
      magna aliquam nec. Integer vel magna dictum, bibendum tellus non,
      venenatis turpis. Donec blandit risus vel eros ultrices bibendum. Orci
      varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Nulla quis rhoncus ipsum, non rhoncus velit. Vestibulum sed
      felis lacinia, bibendum diam id, bibendum metus.
    </blockquote>

    <h2>Heading 2</h2>
    <p>
      Etiam blandit sagittis sem sit amet congue. Integer molestie tincidunt
      purus a ullamcorper. Aenean scelerisque lectus ac condimentum porta. Morbi
      aliquet convallis ipsum sit amet sodales. Proin ipsum lectus, blandit sit
      amet sodales sagittis, sodales cursus ligula. Nullam eu turpis placerat,
      sodales diam venenatis, malesuada sem. Mauris ac malesuada neque, vitae
      ultricies urna. Ut hendrerit arcu eget placerat egestas. Vivamus quis nunc
      interdum, aliquet lorem eu, pulvinar tortor. Sed ut consequat lacus,
      sodales facilisis ipsum. Interdum et malesuada fames ac ante ipsum primis
      in faucibus. Nulla rutrum imperdiet justo in efficitur.
    </p>

    <h3>Heading 3</h3>
    <p>
      Quisque vehicula mauris vitae justo feugiat, in auctor felis dapibus.
      Fusce lacus nisl, finibus sed sagittis eget, congue vitae massa. Vivamus
      ut nisi in justo interdum sodales. Mauris eros ipsum, rhoncus volutpat
      tempor id, viverra vel libero. Praesent lobortis, felis sed elementum
      pulvinar, lectus massa rutrum tortor, vitae lobortis lacus tellus iaculis
      ex. Mauris at nulla nisl. Curabitur convallis volutpat odio vitae
      interdum. Quisque nec nulla eget elit rutrum rutrum ac a mauris. Nunc
      fringilla ipsum id vehicula varius. Nam tincidunt semper risus. Vivamus id
      vestibulum orci, non rutrum elit. In quam nisl, euismod eu ipsum ut,
      blandit bibendum augue. Mauris vehicula lacinia sodales. Quisque accumsan
      accumsan pellentesque. Aenean scelerisque dictum ipsum.
    </p>

    <h4>Heading 4</h4>
    <p>
      Duis tincidunt velit quis mi rhoncus, ac porta risus ultricies.
      Suspendisse efficitur sem nisl, quis pulvinar eros rhoncus vitae. Ut ante
      sapien, ultricies vel justo sed, vestibulum vehicula tortor. Pellentesque
      auctor bibendum molestie. Nulla mattis nunc ac imperdiet maximus. Integer
      maximus lorem vitae nibh vestibulum, quis varius ex lobortis. Morbi quis
      feugiat enim. Sed cursus eros id velit scelerisque, et ullamcorper massa
      bibendum. Etiam elementum turpis non tempus fermentum. Duis quis mi vel
      arcu finibus feugiat.
    </p>

    <h5>Heading 5</h5>
    <p>
      Pellentesque malesuada nunc ut erat dignissim pulvinar. Nulla ut mollis
      eros, quis tristique enim. Mauris placerat eget neque scelerisque iaculis.
      Curabitur gravida posuere tincidunt. Sed pulvinar gravida ante, ultrices
      finibus nunc placerat vitae. Cras imperdiet magna ut velit laoreet
      scelerisque. Proin vestibulum sed odio eget vulputate. Duis ultricies
      ullamcorper vehicula.
    </p>

    <h6>Heading 6</h6>
    <p>
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur
      ridiculus mus. Sed at magna sollicitudin tellus molestie lacinia non nec
      ante. Nunc dictum pretium libero, vel vulputate augue maximus vel. Ut
      suscipit dignissim augue, sit amet ultricies lectus euismod et. Nullam
      nulla magna, ultrices non massa ut, tincidunt venenatis odio. Nunc ac
      velit hendrerit, porta dui vel, porta eros. Integer id dui vel dolor
      feugiat fringilla id quis ligula. Vestibulum consequat sed erat sit amet
      finibus. Cras enim velit, dapibus vitae nisl a, sagittis molestie ipsum.
      Aliquam quis nibh a ante feugiat aliquam ut sed neque. Suspendisse eget
      finibus erat, eget convallis elit.
    </p>

    <h6>Heading 6</h6>
    <p>
      Nam elit lacus, ultrices nec blandit rutrum, vestibulum quis enim.
      Maecenas nec cursus ex. Ut non felis lacus. Duis tincidunt justo leo, ac
      malesuada ligula interdum sed. Nunc commodo quis mi id blandit. Etiam ac
      tempor eros. Proin aliquet tincidunt nibh sit amet euismod.
    </p>
  </div>
</template>

<script lang="ts">
import { setupThemeInteracts } from "@renderer/composables/setupThemeInteracts";
import { setupConfigurationInteracts } from "@renderer/composables/configurations";
import { defineComponent } from "vue";

export default defineComponent({
  name: "StylePreview",
  setup() {
    return {
      ...setupThemeInteracts(),
      ...setupConfigurationInteracts(),
    };
  },
  data() {
    return {
      rangeValue: 0,
    };
  },
});
</script>

<style scoped>
main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.color-palette {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.colorblock {
  width: 80%;
  height: 50px;
  margin: 0 10%;
  display: block;
}

.prose > * + * {
  margin-top: 1em;
}

@media screen and (max-width: 760px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 320px) {
  main {
    grid-template-columns: 1fr;
  }
}
</style>
