<template>
  <div class="date-time-picker-container">
    <slot name="label">
      <label :for="id">{{ label }}</label>
    </slot>
    <div class="interactive-area">
      <button
        :id="id"
        type="text"
        :class="{ 'show-placeholder': needsPlaceholder }"
        name="dateTimePicker"
        @click.prevent="toggleSelector"
      >
        {{ displayedDate }}
      </button>
      <div
        v-if="showSelector"
        :class="['selection-panel', menuOrientationClass]"
      >
        <div v-if="!noTime" class="time-section">
          <span class="fa fa-clock-o"></span>
          <select name="hour" @change="setHour">
            <option
              v-for="h of timeFormat === '12_hour_format'
                ? range(1, 12)
                : range(0, 23)"
              :key="String(h).padStart(2, '0')"
              :value="h"
              :selected="isSelectedHour(h)"
            >
              {{ String(h).padStart(2, "0") }}
            </option>
          </select>
          <select name="minute" @change="setMinute">
            <option
              v-for="m of range(0, 59)"
              :key="String(m).padStart(2, '0')"
              :value="m"
              :selected="m === selectedDate?.minute()"
            >
              {{ String(m).padStart(2, "0") }}
            </option>
          </select>
          <select v-if="showSeconds" name="second" @click="setSecond">
            <option
              v-for="s of range(0, 59)"
              :key="String(s).padStart(2, '0')"
              :value="s"
              :selected="s === selectedDate?.second()"
            >
              {{ String(s).padStart(2, "0") }}
            </option>
          </select>
          <select
            v-if="timeFormat === '12_hour_format'"
            name="am_pm"
            @change="setAmPm"
          >
            <option
              :value="TwelveHourAmPm.Am"
              :selected="selectorAmPm === TwelveHourAmPm.Am"
            >
              AM
            </option>
            <option
              :value="TwelveHourAmPm.Pm"
              :selected="selectorAmPm === TwelveHourAmPm.Pm"
            >
              PM
            </option>
          </select>
        </div>
        <div class="date-section">
          <div class="header">
            <button @click.prevent="gotoPrevMonth">
              <span class="fa fa-chevron-left"></span>
            </button>
            <div>
              <select name="month" @change="handleMonthChange">
                <option
                  v-for="m of months()"
                  :key="m.label"
                  :value="m.value"
                  :selected="selectorMonth === m.value"
                >
                  {{ m.label }}
                </option>
              </select>
              <select name="year" @change="handleYearChange">
                <option v-if="startYear !== 1000" value="show_more_older">
                  Older
                </option>
                <option
                  v-for="y of range(startYear, endYear)"
                  :key="y"
                  :value="y"
                  :selected="selectorYear === y"
                >
                  {{ y }}
                </option>
                <option v-if="endYear !== 5000" value="show_more_newer">
                  Newer
                </option>
              </select>
            </div>
            <button @click.prevent="gotoNextMonth">
              <span class="fa fa-chevron-right"></span>
            </button>
          </div>

          <div class="dates">
            <span>Sun</span>
            <span>Mon</span>
            <span>Tue</span>
            <span>Wed</span>
            <span>Thu</span>
            <span>Fri</span>
            <span>Sat</span>
            <button
              v-for="d of datesToShow"
              :key="d.value"
              :class="{
                'is-in-month': d.isInMonth,
                borderless: true,
                chosen: isSelectedDate(d.value),
              }"
              @click.prevent="chooseDate(d.value)"
            >
              {{ d.date }}
            </button>
          </div>

          <div class="footer">
            <div class="presets">
              <button
                @click.prevent="
                  chooseDate($dayjs().startOf('day').toISOString())
                "
              >
                Today
              </button>
              <button v-if="!noTime" @click.prevent="selectedDate = $dayjs()">
                Now
              </button>
              <slot name="more-presets"></slot>
            </div>
            <div class="confirmation">
              <button @click.prevent="cancelChoice">
                <span class="fa fa-times"></span>
              </button>
              <button @click.prevent="confirmChoice">
                <span class="fa fa-check"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { MenuOrientation } from "@renderer/types/menu";
import { TimeFormat } from "@/renderer/types/time";
import { LocaleFormat } from "@/renderer/utils/locale-format";
import { Dayjs } from "dayjs/esm";
import kebab from "to-slug-case";
import { defineComponent, PropType } from "vue";

interface DateTimePickerData {
  showSelector: boolean;
  selectedDate: Dayjs | null;
  selectorYear: number;
  selectorMonth: number;
  selectorAmPm: TwelveHourAmPm;
  startYear: number;
  endYear: number;
}

enum SpecialYearChoice {
  ShowMoreOlder = "show_more_older",
  ShowMoreNewer = "show_more_newer",
}

enum TwelveHourAmPm {
  Am = "am",
  Pm = "pm",
}

export default defineComponent({
  name: "DateTimePicker",
  // TODO: add model? Please check Vue 3 docs
  props: {
    name: {
      type: String,
      required: true,
    },
    placeholder: {
      type: String,
      default: "",
    },
    defaultDate: {
      type: Object as PropType<Dayjs | null>,
      default: null,
    },
    defaultYear: {
      type: Number,
      default: new Date().getFullYear(),
    },
    defaultMonth: {
      type: Number,
      default: new Date().getMonth(),
    },
    noTime: {
      type: Boolean,
      default: false,
    },
    timeFormat: {
      type: String as PropType<TimeFormat>,
      default: TimeFormat.TwentyFourHourFormat,
      validator: (val: string) => {
        return Object.values<string>(TimeFormat).includes(val);
      },
    },
    showSeconds: {
      type: Boolean,
      default: false,
    },
    label: {
      type: String,
      default: "Date time",
    },
    menuOrientation: {
      type: String,
      default: MenuOrientation.BottomLeft,
      validation: (value: string) => {
        return Object.values<string>(MenuOrientation).includes(value);
      },
    },
  },
  emits: ["update:selectedDate"],
  setup() {
    return {
      TwelveHourAmPm,
    };
  },
  data() {
    const now: Dayjs =
      this.defaultDate ?? this.$dayjs().tz(this.$dayjs.tz.guess());
    const currentYear = now.year();
    const currentAmPm = now.format("a");
    return {
      showSelector: false,
      selectedDate: this.defaultDate ?? null,
      selectorYear: this.defaultYear,
      selectorMonth: this.defaultMonth,
      selectorAmPm:
        currentAmPm === TwelveHourAmPm.Am
          ? TwelveHourAmPm.Am
          : TwelveHourAmPm.Pm,
      startYear: currentYear - 100,
      endYear: currentYear + 100,
    } as DateTimePickerData;
  },
  computed: {
    id: function (): string {
      return `dateTimePicker-${this.name}`;
    },
    menuOrientationClass: ({
      menuOrientation,
    }: {
      menuOrientation: MenuOrientation;
    }) => {
      return kebab(menuOrientation);
    },
    displayedDate: function (): string {
      if (this.selectedDate && !this.noTime)
        return LocaleFormat.MediumStyleDateTime(
          this.selectedDate.toISOString()
        );
      if (this.selectedDate && this.noTime)
        return LocaleFormat.MediumStyleDate(this.selectedDate.toISOString());

      if (this.placeholder) return this.placeholder;
      if (this.noTime) return "Select a date";
      return "Select a date time";
    },
    needsPlaceholder: function (): boolean {
      return !this.selectedDate;
    },
    datesToShow: function (): {
      date: number;
      isInMonth: boolean;
      value: string;
    }[] {
      // The idea is that we always wanna fill a space of 6 x 7.
      // 1. This will always allow the whole of the current month to be in a single view
      // 2. Force the selector to never resize (and hence cutting draw times)
      const dayOneOfSelectedMonth = this.$dayjs(
        `${this.selectorYear}-${this.selectorMonth + 1}-01`
      );

      const visibleDaysFromLastMonth = [];
      const lastDayOfLastMonth = dayOneOfSelectedMonth
        .subtract(1, "month")
        .daysInMonth();
      for (
        let i = lastDayOfLastMonth - dayOneOfSelectedMonth.day() + 1;
        i <= lastDayOfLastMonth;
        i++
      ) {
        visibleDaysFromLastMonth.push(i);
      }
      if (visibleDaysFromLastMonth.length === 0) {
        visibleDaysFromLastMonth.push(
          ...[...Array(7).keys()].map((_, i) => lastDayOfLastMonth - 6 + i)
        );
      }

      const daysThisMonth = [
        ...Array(dayOneOfSelectedMonth.daysInMonth()).keys(),
      ].map((n) => n + 1);

      const visibleDaysFromNextMonth = [
        ...Array(
          42 - visibleDaysFromLastMonth.length - daysThisMonth.length
        ).keys(),
      ].map((n) => n + 1);

      return [
        ...visibleDaysFromLastMonth.map((n) => ({
          date: n,
          value: dayOneOfSelectedMonth
            .subtract(1, "month")
            .date(n)
            .toISOString(),
          isInMonth: false,
        })),
        ...daysThisMonth.map((n) => ({
          date: n,
          value: dayOneOfSelectedMonth.date(n).toISOString(),
          isInMonth: true,
        })),
        ...visibleDaysFromNextMonth.map((n) => ({
          date: n,
          value: dayOneOfSelectedMonth.add(1, "month").date(n).toISOString(),
          isInMonth: false,
        })),
      ];
    },
  },
  watch: {
    defaultDate: {
      immediate: true,
      handler(newVal: Dayjs) {
        this.selectedDate = newVal;
      },
    },
  },
  methods: {
    toggleSelector() {
      if (this.showSelector) {
        this.cancelChoice();
      } else {
        this.showSelector = true;
      }
    },
    range: function* (start: number, end: number) {
      for (let i = start; i <= end; i++) {
        yield i;
      }
    },
    months() {
      const mths = [];
      for (let i = 0; i < 12; i++) {
        mths.push({
          value: i,
          label: this.$dayjs().month(i).format("MMM"),
        });
      }
      return mths;
    },
    handleMonthChange(e: Event & { target: { value: string } }) {
      const { value } = e.target;
      if (value) this.selectorMonth = Number(value);
    },
    handleYearChange(e: Event & { target: { value: string } }) {
      const { value } = e.target;
      if (value === SpecialYearChoice.ShowMoreOlder) {
        this.startYear -= 100;
        if (this.startYear < 1000) this.startYear = 1000;
        this.selectorYear = this.startYear;
      } else if (value === SpecialYearChoice.ShowMoreNewer) {
        if (this.endYear <= 5000) {
          this.endYear += 100;
          if (this.endYear > 5000) this.endYear = 5000;
          this.selectorYear = this.endYear;
        }
      } else if (value) {
        this.selectorYear = Number(value);
      }
    },
    chooseDate(choice: string) {
      const chosenDate = this.$dayjs(choice);
      if (chosenDate.isValid()) {
        if (!this.selectedDate) {
          this.selectedDate = this.$dayjs(choice);
        } else {
          this.selectedDate = this.selectedDate
            .year(chosenDate.year())
            .month(chosenDate.month())
            .date(chosenDate.date());
        }
        this.selectorYear = chosenDate.year();
        this.selectorMonth = chosenDate.month();
      }
    },
    gotoPrevMonth() {
      if (this.selectorMonth !== 0) {
        this.selectorMonth -= 1;
      } else {
        this.selectorMonth = 11;
        this.selectorYear -= 1;
      }
    },
    gotoNextMonth() {
      if (this.selectorMonth !== 11) {
        this.selectorMonth += 1;
      } else {
        this.selectorMonth = 0;
        this.selectorYear += 1;
      }
    },
    isSelectedDate(date: string): boolean {
      if (this.selectedDate) {
        return this.selectedDate.startOf("day").toISOString() === date;
      }

      return false;
    },
    isSelectedHour(h: number): boolean {
      if (this.timeFormat === TimeFormat.TwentyFourHourFormat) {
        return h === this.selectedDate?.hour();
      } else if (this.timeFormat === TimeFormat.TwelveHourFormat) {
        return this.selectedDate
          ? h ===
              Number(this.selectedDate.tz(this.$dayjs.tz.guess()).format("h"))
          : h === 1;
      }

      return false;
    },
    setHour(e: Event & { target: { value: string } }) {
      const { value } = e.target;
      if (value) {
        if (!this.selectedDate) {
          this.selectedDate = this.$dayjs();
        }

        const selectedHour = Number(value);
        if (this.timeFormat === TimeFormat.TwentyFourHourFormat) {
          this.selectedDate = this.selectedDate.hour(selectedHour);
        } else {
          if (this.selectorAmPm === TwelveHourAmPm.Am) {
            if (selectedHour !== 12)
              this.selectedDate = this.selectedDate.hour(selectedHour);
            else this.selectedDate = this.selectedDate.hour(0);
          } else {
            if (selectedHour !== 12)
              this.selectedDate = this.selectedDate.hour(selectedHour + 12);
            else this.selectedDate = this.selectedDate.hour(12);
          }
        }
      }
    },
    setMinute(e: Event & { target: { value: string } }) {
      const { value } = e.target;
      if (value) {
        if (!this.selectedDate) {
          this.selectedDate = this.$dayjs();
        }

        this.selectedDate = this.selectedDate.minute(Number(value));
      }
    },
    setSecond(e: Event & { target: { value: string } }) {
      const { value } = e.target;
      if (value) {
        if (!this.selectedDate) {
          this.selectedDate = this.$dayjs();
        }

        this.selectedDate = this.selectedDate.second(Number(value));
      }
    },
    setAmPm(e: Event & { target: { value: string } }) {
      const { value } = e.target;
      if (value) {
        if (!this.selectedDate) {
          this.selectedDate = this.$dayjs();
        }

        this.selectorAmPm = value as TwelveHourAmPm;

        const selectedHour = this.selectedDate.hour();
        switch (value) {
          case "am": {
            if (selectedHour > 12) {
              this.selectedDate = this.selectedDate.hour(selectedHour - 12);
            }
            break;
          }
          case "pm": {
            if (selectedHour < 13) {
              this.selectedDate = this.selectedDate.hour(selectedHour + 12);
            }
            break;
          }
        }
      }
    },
    confirmChoice() {
      this.showSelector = false;
      this.$emit("update:selectedDate", this.selectedDate?.toDate());
    },
    cancelChoice() {
      if (this.defaultDate) this.selectedDate = this.defaultDate;
      else this.selectedDate = null;
      this.showSelector = false;
      this.$emit("update:selectedDate", null);
    },
  },
});
</script>

<style scoped>
.date-time-picker-container {
  display: inline-block;
}

button.show-placeholder {
  color: var(--color-bright-gray);
}

.interactive-area {
  position: relative;
  width: fit-content;
}

.selection-panel {
  position: absolute;
  background: var(--background-color);
  border: 1px solid var(--color-gray);
  padding: 0.8em;
  min-width: 300px;
  z-index: 999;
}

.selection-panel > * + * {
  margin-top: 1em;
}

.selection-panel .time-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selection-panel .time-section .fa.fa-clock-o {
  margin-right: 1em;
}

.selection-panel .date-section .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selection-panel .date-section .dates {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.selection-panel .date-section .dates button {
  width: 2em;
  height: 2em;
  color: var(--color-gray);
}

.selection-panel .date-section .dates button.chosen {
  background: var(--color-primary);
}

.selection-panel .date-section .dates button.is-in-month {
  color: var(--foreground-color);
}

.selection-panel.top-left {
  top: 0;
  left: 0;
  transform: translateY(-100%);
  animation: 0.2s fade-slide-up ease-in-out;
}

.selection-panel.top-right {
  top: 0;
  right: 0;
  transform: translateY(-100%);
  animation: 0.2s fade-slide-up ease-in-out;
}

.selection-panel.left-top {
  top: 0;
  transform: translateX(-100%);
  animation: 0.2s fade-slide-left ease-in-out;
}

.selection-panel.left-center {
  top: 50%;
  transform: translate(-100%, -50%);
  animation: 0.2s fade-slide-left ease-in-out;
}

.selection-panel.left-bottom {
  bottom: 0;
  transform: translateX(-100%);
  animation: 0.2s fade-slide-left ease-in-out;
}

.selection-panel.right-top {
  top: 0;
  right: 0;
  transform: translateX(100%);
  animation: 0.2s fade-slide-right ease-in-out;
}

.selection-panel.right-center {
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  animation: 0.2s fade-slide-right ease-in-out;
}

.selection-panel.right-bottom {
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  animation: 0.2s fade-slide-right ease-in-out;
}

.selection-panel.bottom-left {
  top: 100%;
  left: 0;
  animation: 0.2s fade-slide-down ease-in-out;
}

.selection-panel.bottom-right {
  top: 100%;
  right: 0;
  animation: 0.2s fade-slide-down ease-in-out;
}

@keyframes fade-slide-down {
  from {
    opacity: 0;
    top: 80%;
  }

  to {
    opacity: 1;
    top: 100%;
  }
}

@keyframes fade-slide-up {
  from {
    opacity: 0;
    top: 20%;
  }
  to {
    opacity: 1;
    top: 0%;
  }
}

@keyframes fade-slide-left {
  from {
    opacity: 0;
    left: 20%;
  }
  to {
    opacity: 1;
    left: 0%;
  }
}

@keyframes fade-slide-right {
  from {
    opacity: 0;
    right: 20%;
  }
  to {
    opacity: 1;
    right: 0%;
  }
}
</style>
