<template>
  <article class="kiv-list-outer-container" aria-label="KIV List">
    <header>
      <h2>Last Contacted</h2>
      <button
        v-if="isEditMode"
        :class="['borderless', 'edit-button', isEditMode ? 'is-editing' : null]"
        aria-label="Cancel editing"
        title="Cancel editing"
        @click="cancelEditing"
      >
        <span class="fa fa-times"></span>
      </button>
      <button
        v-if="!isLoading"
        :class="['borderless', 'edit-button', isEditMode ? 'is-editing' : null]"
        :aria-label="isEditMode ? 'Confirm editing' : 'Edit'"
        :title="isEditMode ? 'Confirm editing' : 'Edit'"
        @click="isEditMode ? confirmEdits() : enterEditMode()"
      >
        <span v-if="!isEditMode" class="fa fa-pencil"></span>
        <span v-if="isEditMode" class="fa fa-check"></span>
      </button>
    </header>
    <div class="kiv-list-container">
      <span v-if="isLoading" class="fa fa-spinner fa-spin"></span>
      <span v-if="!contacts"
        >"You have yet to add a contact to this list!"</span
      >
      <section v-if="isEditMode" class="kiv-list-adder-container">
        <searchable-select
          ref="searchableSelect"
          v-model:searchValue="searchValue"
          class="searchable-select"
          name="new-kiv"
          placeholder="Search for contact to keep in view..."
          @confirm:search="searchAddableContacts"
        >
          <searchable-select-option
            v-for="contact in addablesToShow"
            :key="contact.id"
            class="searchable-select-options"
            @click="toggleAddingToList(contact.id)"
          >
            <contact-small-list-item :contact="contact">
              {{
                contact.lastContactedAt
                  ? $dayjs(contact.lastContactedAt).fromNow()
                  : "Never"
              }}
            </contact-small-list-item>
          </searchable-select-option>
        </searchable-select>
      </section>
      <div v-if="isEditMode" class="edit-list-controls">
        <nav aria-label="Edit list in view">
          <button @click="editMode = EditMode.RemovingCurrent">Current</button>
          <button @click="editMode = EditMode.AddingNew">To Add</button>
        </nav>
      </div>
      <div
        v-if="!isEditMode || editMode === EditMode.RemovingCurrent"
        class="current-list"
      >
        <contact-small-list-item
          v-for="contact of pagedContacts"
          :key="`contact-${contact.id}`"
          :contact="contact"
        >
          <span>
            {{
              contact.lastContactedAt
                ? $dayjs(contact.lastContactedAt).fromNow()
                : "Never"
            }}
          </span>
          <button
            v-if="isEditMode"
            class="borderless delete-button"
            :class="contactsToRemove.includes(contact.id) && 'to-be-removed'"
            aria-label="Remove this contact from list"
            @click="toggleRemovalFromList(contact.id)"
          >
            <span class="fa fa-trash"></span>
          </button>
        </contact-small-list-item>
        <pagination-nav
          v-model:current-page-index="kivCurrentPage"
          :total-pages="kivTotalPages"
          :include-pages-track="false"
          :include-jumper="true"
        />
      </div>
      <div
        v-if="isEditMode && editMode === EditMode.AddingNew"
        class="to-be-added-list"
      >
        <contact-small-list-item
          v-for="contact of pagedContactsToAdd"
          :key="`contact-${contact.id}`"
          :contact="contact"
        >
          <span>
            {{
              contact.lastContactedAt
                ? $dayjs(contact.lastContactedAt).fromNow()
                : "Never"
            }}
          </span>
          <button
            v-if="isEditMode"
            class="borderless delete-button"
            :class="contactsToRemove.includes(contact.id) && 'to-be-removed'"
            aria-label="Remove this contact from list"
            @click="toggleAddingToList(contact.id)"
          >
            <span class="fa fa-trash"></span>
          </button>
        </contact-small-list-item>
        <pagination-nav
          v-model:current-page-index="toAddKivCurrentPage"
          :total-pages="toAddKivTotalPages"
          :include-pages-track="false"
          :include-jumper="true"
        />
      </div>
    </div>
  </article>
</template>

<script lang="ts">
import { Contact } from "@/renderer/models/contact.model";
import { setupNameOrdering } from "@/renderer/composables/name-ordering";
import { computed, defineComponent, ref } from "vue";
import { ContactsService } from "@/renderer/services/contacts.service";
import ContactSmallListItem from "@/renderer/components/ContactSmallListItem.vue";
import SearchableSelect from "@renderer/components/SearchableSelect.vue";
import SearchableSelectOption from "@renderer/components/SearchableSelectOption.vue";
import PaginationNav from "@renderer/components/PaginationNav.vue";
import { paginateItems } from "@renderer/composables/pagination";

enum EditMode {
  RemovingCurrent,
  AddingNew,
}

export type KvListData = {
  isLoading: boolean;
  isEditMode: boolean;
  contactsToRemove: string[];
  searchValue: string;
};

export default defineComponent({
  name: "KivList",
  components: {
    ContactSmallListItem,
    SearchableSelect,
    SearchableSelectOption,
    PaginationNav,
  },
  setup() {
    const { orderName } = setupNameOrdering();

    const editMode = ref(EditMode.RemovingCurrent);

    const contacts = ref<Contact[]>([]);
    const addableContacts = ref<Contact[]>([]);
    const contactsToBeAdded = ref<Contact[]>([]);

    const {
      currentPage: kivCurrentPage,
      totalPages: kivTotalPages,
      pagination: pagedContacts,
    } = paginateItems(contacts, 5);
    const {
      currentPage: toAddKivCurrentPage,
      totalPages: toAddKivTotalPages,
      pagination: pagedContactsToAdd,
    } = paginateItems(contactsToBeAdded, 5);

    const contactIdsToBeAdded = computed(() =>
      contactsToBeAdded.value.map((contact) => contact.id)
    );
    const addablesToShow = computed(() =>
      addableContacts.value.filter(
        (contact) => !contactIdsToBeAdded.value.includes(contact.id)
      )
    );

    return {
      orderName,
      editMode,
      EditMode,
      contacts,
      addableContacts,
      contactsToBeAdded,
      addablesToShow,
      kivTotalPages,
      kivCurrentPage,
      pagedContacts,
      toAddKivCurrentPage,
      toAddKivTotalPages,
      pagedContactsToAdd,
    };
  },
  data(): KvListData {
    return {
      isLoading: false,
      isEditMode: false,
      contactsToRemove: [],
      searchValue: "",
    };
  },
  async mounted() {
    this.initCurrentlyKeptInViews();
  },
  beforeUnmount() {
    this.cancelEditing();
  },
  methods: {
    cancelEditing() {
      this.contactsToRemove = [];
      this.contactsToBeAdded = [];
      this.addableContacts = [];
      this.isEditMode = false;
    },
    enterEditMode() {
      this.isEditMode = true;
    },
    async confirmEdits() {
      if (this.contactsToRemove.length) {
        await ContactsService.removeFromViewByIds(this.contactsToRemove);
        this.contactsToRemove = [];
      }
      if (this.contactsToBeAdded.length) {
        await ContactsService.keepInViewByIds(
          this.contactsToBeAdded.map((contact) => contact.id)
        );
        this.contactsToBeAdded = [];
      }
      this.isEditMode = false;
      this.initCurrentlyKeptInViews();
    },
    initCurrentlyKeptInViews() {
      this.isLoading = true;
      ContactsService.getKeptInViews()
        .then((resp) => {
          this.contacts = resp.results;
        })
        .finally(() => {
          this.isLoading = false;
        });
    },
    toggleRemovalFromList(id: string) {
      if (this.contactsToRemove.includes(id))
        this.contactsToRemove = this.contactsToRemove.filter(
          (contactId) => contactId !== id
        );
      else this.contactsToRemove.push(id);
    },
    toggleAddingToList(id: string) {
      if (
        this.contactsToBeAdded.find((contact: Contact) => contact.id === id)
      ) {
        this.contactsToBeAdded = this.contactsToBeAdded.filter(
          (contact: Contact) => contact.id !== id
        );
      } else {
        const contactToAdd = this.addableContacts.find(
          (contact) => contact.id === id
        );
        if (contactToAdd)
          this.contactsToBeAdded = [...this.contactsToBeAdded, contactToAdd];
      }
    },
    async searchAddableContacts() {
      this.addableContacts = await ContactsService.searchNotKeptInViews(
        this.searchValue
      );
    },
    log: console.log,
  },
});
</script>

<style scoped>
.kiv-list-outer-container {
  max-width: 300px;
}

button.edit-button {
  opacity: 0;
}

.kiv-list-outer-container:hover button.edit-button,
button.edit-button:focus-visible,
.kiv-list-outer-container button.edit-button.is-editing {
  opacity: 1;
}

.kiv-list-outer-container > header {
  display: flex;
  justify-content: space-between;
}

.kiv-list-container > * + *,
.current-list > * + *,
.to-be-added-list > * + * {
  margin-top: 0.8em;
}

button.delete-button {
  padding: 0.1em 0.3em;
  color: var(--color-red);
}

.searchable-select .searchable-select-options {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button.delete-button.to-be-removed {
  background: var(--color-red);
  color: var(--color-foreground);
}

.edit-list-controls > nav {
  display: flex;
  justify-content: space-around;
}
</style>
