<template>
  <modal :is-open="isOpen" @update:is-open="updateIsOpen">
    <article
      class="content-container"
      aria-labelledby="#single-contact-name-add-modal-title"
    >
      <h2 id="single-contact-name-add-modal-title">Add a new name</h2>
      <form>
        <name-add-form
          v-model:given-name="givenName"
          v-model:middle-name="middleName"
          v-model:surname="surname"
          v-model:name-order-id="nameOrderId"
        />
      </form>
      <section class="name-preview">
        <h3>Name Preview</h3>
        <div>
          {{ namePreview }}
          <i v-if="!namePreview" class="desc">Enter name to show preview</i>
        </div>
      </section>
      <div class="form-conclusion">
        <button type="button" @click="cancelAddition">Cancel</button>
        <button type="reset" @click="resetAddition">Reset</button>
        <button
          type="submit"
          class="is-primary"
          :disabled="!givenName"
          @click="confirmName"
        >
          Add name
        </button>
      </div>
    </article>
  </modal>
</template>

<script lang="ts">
import { defineComponent, ref, computed } from "vue";
import { cloneDeep } from "lodash-es";
import Modal from "@renderer/components/Modal.vue";
import NameAddForm from "@renderer/components/NameAddForm.vue";
import { setupNameOrdering } from "@renderer/composables/name-ordering";

export default defineComponent({
  name: "SingleContactNameAddModal",
  components: {
    Modal,
    NameAddForm,
  },
  model: {
    prop: "isOpen",
    change: "update:isOpen",
  },
  props: {
    isOpen: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["update:isOpen", "confirmName"],
  setup() {
    const { nameOrders, orderName } = setupNameOrdering();

    const givenName = ref<string>("");
    const surname = ref<string>();
    const middleName = ref<string>();
    const nameOrderId = ref<number>(nameOrders[0].id);

    const computedName = computed(() => ({
      givenName: givenName.value,
      surname: surname.value,
      middleName: middleName.value,
      nameOrderId: nameOrderId.value,
    }));
    const namePreview = computed(() =>
      givenName.value ? orderName(computedName.value) : ""
    );

    return {
      givenName,
      surname,
      middleName,
      nameOrders,
      nameOrderId,
      computedName,
      namePreview,
      orderName,
    };
  },
  methods: {
    updateIsOpen(newValue: boolean) {
      this.$emit("update:isOpen", newValue);
    },
    cancelAddition() {
      this.resetAddition();
      this.updateIsOpen(false);
    },
    resetAddition() {
      this.givenName = "";
      this.surname = undefined;
      this.middleName = undefined;
      this.nameOrderId = this.nameOrders[0].id;
    },
    confirmName() {
      this.$emit("confirmName", cloneDeep(this.computedName));
      this.resetAddition();
      this.updateIsOpen(false);
    },
  },
});
</script>

<style scoped>
.content-container {
  background: var(--background-color);
  color: var(--foreground-color);
  text-align: left;
  padding: 2em 5em;
  min-width: clamp(380px, 60vw, 780px);
}

.content-container > * + * {
  margin-top: 1em;
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  row-gap: 1em;
}

.form-conclusion > * + * {
  margin-left: 0.5em;
}

.name-preview {
  text-align: center;
}
</style>
