<template>
  <section class="tempo" aria-describedby="#names">
    <h2 id="names">Names</h2>
    <ul v-if="!isEditing">
      <li v-for="name of names" :key="name.id">
        <span
          v-if="name.id === primaryNameId"
          class="fa fa-star"
          title="Primary name"
        ></span>
        {{ orderName(name) }}
      </li>
    </ul>
    <form v-else>
      <fieldset>
        <legend
          :class="[
            chosenPrimaryNameIndex === -1 ? 'text-highlight__error' : '',
          ]"
        >
          Select primary name
        </legend>
        <template v-for="(name, nameIndex) of namesInEditing" :key="name.id">
          <input
            :id="computeNameEditId(name)"
            type="radio"
            name="primaryName"
            :value="nameIndex"
            :checked="nameIndex === Number(chosenPrimaryNameIndex)"
            :disabled="name.toBeRemoved"
            @input="(ev) => changePrimaryName(ev.target.value)"
          />
          <label :for="computeNameEditId(name)">{{ orderName(name) }}</label>
          <button
            v-if="name.id"
            type="button"
            :class="[
              'borderless',
              name.toBeRemoved
                ? 'button__unmark-delete'
                : 'button__mark-delete',
            ]"
            :aria-label="
              name.toBeRemoved
                ? 'Unmark name for deletion'
                : 'Mark name for deletion'
            "
            @click="toggleMarkingNameForRemoval(nameIndex)"
          >
            <span class="fa fa-trash" aria-hidden="true"></span>
          </button>
          <button
            v-else
            type="button"
            class="borderless"
            aria-label="Remove new name from addition"
            @click="removeNewNameFromEditing(nameIndex)"
          >
            <span class="fa fa-times" aria-hidden="true"></span>
          </button>
          <br />
        </template>
      </fieldset>
    </form>
    <div v-if="isEditing" class="name-edit-controls">
      <button
        type="button"
        class="is-primary"
        @click="isAddNameModalOpen = true"
      >
        Add name
      </button>
      <button type="button" @click="resetEdits">Reset</button>
    </div>
    <single-contact-name-add-modal
      v-model:is-open="isAddNameModalOpen"
      @confirm-name="addNameToEdits"
    />
  </section>
</template>

<script lang="ts">
import { defineComponent, PropType, ref } from "vue";
import { cloneDeep } from "lodash-es";
import SingleContactNameAddModal from "@renderer/components/fragments/SingleContactNameAddModal.vue";
import { setupNameOrdering } from "@renderer/composables/name-ordering";
import { Name, NewName, NameInEdit } from "@renderer/models/name.model";

export default defineComponent({
  name: "SingleContactNames",
  components: {
    SingleContactNameAddModal,
  },
  props: {
    names: {
      type: Object as PropType<Name[]>,
      required: true,
    },
    primaryNameId: {
      type: Number,
      required: true,
    },
    isEditing: {
      type: Boolean,
      default: false,
    },
  },
  emits: ["update:namesInEditing", "reset:namesInEditing"],
  setup(props) {
    const { orderName } = setupNameOrdering();
    const computeNameEditId = (name: Name) =>
      `single-contact-name-${name.givenName}_${name?.middleName ?? ""}_${
        name?.surname ?? ""
      }_name-order-${name.nameOrderId}`;

    const cloneNamesPropForEdit = () =>
      cloneDeep(props.names).map((name) => ({
        ...name,
        toBeRemoved: false,
        isPrimary: name.id === props.primaryNameId,
      }));
    const namesInEditing = ref<NameInEdit[]>(cloneNamesPropForEdit());
    const defaultPrimaryNameIndex = ref(
      namesInEditing.value.findIndex((name) => name.id === props.primaryNameId)
    );
    const chosenPrimaryNameIndex = ref<number>(defaultPrimaryNameIndex.value);

    const cancelEdit = () => {
      namesInEditing.value = cloneNamesPropForEdit();
      chosenPrimaryNameIndex.value = defaultPrimaryNameIndex.value;
    };

    const isAddNameModalOpen = ref(false);

    return {
      orderName,
      namesInEditing,
      chosenPrimaryNameIndex,
      computeNameEditId,
      cancelEdit,
      isAddNameModalOpen,
    };
  },
  methods: {
    confirmEdit() {
      this.$emit("update:namesInEditing", this.namesInEditing);
    },
    resetEdits() {
      this.cancelEdit();
      this.$emit("reset:namesInEditing");
    },
    toggleMarkingNameForRemoval(index: number) {
      const name = this.namesInEditing[index];
      if (name && name?.id) {
        if (index === this.chosenPrimaryNameIndex) {
          this.chosenPrimaryNameIndex = -1;
        }

        name.isPrimary = false;
        name.toBeRemoved = !name.toBeRemoved;
        this.confirmEdit();
      }
    },
    removeNewNameFromEditing(index: number) {
      const name = this.namesInEditing[index];
      if (name) {
        if (name.isPrimary) {
          const defaultPrimaryNameIndex = this.namesInEditing.findIndex(
            (name) => name.id === this.primaryNameId
          );
          this.changePrimaryName(defaultPrimaryNameIndex);
        }
        this.namesInEditing = this.namesInEditing.filter((_, i) => i !== index);
        this.confirmEdit();
      }
    },
    addNameToEdits(newName: NewName) {
      const contactId = this.namesInEditing[0].contactId;
      this.namesInEditing = [
        ...this.namesInEditing,
        { ...newName, contactId, toBeRemoved: false, isPrimary: false },
      ];
      this.confirmEdit();
    },
    changePrimaryName(index: number) {
      const currentPrimaryNameIndex = this.namesInEditing.findIndex(
        (name) => name.isPrimary
      );
      if (index !== currentPrimaryNameIndex) {
        if (currentPrimaryNameIndex !== -1) {
          this.namesInEditing[currentPrimaryNameIndex].isPrimary = false;
        }
        const chosenPrimaryName = this.namesInEditing[index];
        if (chosenPrimaryName && chosenPrimaryName?.toBeRemoved === false) {
          chosenPrimaryName.isPrimary = true;
          this.chosenPrimaryNameIndex = index;
        } else {
          this.chosenPrimaryNameIndex = -1;
        }
        this.confirmEdit();
      }
    },
  },
});
</script>

<style scoped>
fieldset {
  display: block;
}

fieldset legend {
  color: var(--color-bright-gray);
}

fieldset > input[type="radio"] {
  width: 2em;
}

fieldset button {
  margin-left: 0.5em;
}

.button__mark-delete,
.button__unmark-delete:hover {
  color: var(--color-red);
  background: transparent;
}

.button__mark-delete:hover,
.button__unmark-delete {
  color: var(--color-foreground);
  background: var(--color-red);
}

.name-edit-controls > * + * {
  margin-left: 0.5em;
}
</style>
