<template>
  <article class="upcoming-birthdays-container">
    <header>
      <h2>Upcoming Birthdays</h2>
    </header>
    <div class="upcoming-birthday-articles">
      <contact-small-list-item
        v-for="contact of pagedContacts"
        :key="`contact-${contact.id}`"
        :contact="contact"
      >
        <days-from-birthday :contact="contact" />
      </contact-small-list-item>
      <pagination-nav
        v-model:current-page-index="currentPage"
        :total-pages="totalPages"
        :include-pages-track="false"
        :include-jumper="true"
      />
    </div>
  </article>
</template>

<script lang="ts">
import { defineComponent, ref, onMounted } from "vue";
import PaginationNav from "@renderer/components/PaginationNav.vue";
import ContactSmallListItem from "@renderer/components/ContactSmallListItem.vue";
import DaysFromBirthday from "@renderer/components/DaysFromBirthday.vue";
import { Contact } from "@renderer/models/contact.model";
import { ContactsService } from "@renderer/services/contacts.service";
import { paginateItems } from "@renderer/composables/pagination";
import { LocaleFormat } from "@renderer/utils/locale-format";

export default defineComponent({
  name: "UpcomingBirthdays",
  components: {
    DaysFromBirthday,
    ContactSmallListItem,
    PaginationNav,
  },
  setup() {
    const contacts = ref<Contact[]>([]);
    const {
      currentPage,
      totalPages,
      pagination: pagedContacts,
    } = paginateItems(contacts, 5);

    onMounted(() => {
      ContactsService.getUpcomingBirthdays(61).then((results) => {
        contacts.value = results;
      });
    });

    return {
      contacts,
      currentPage,
      totalPages,
      pagedContacts,
      ...LocaleFormat,
    };
  },
});
</script>

<style scoped>
.upcoming-birthdays-container {
  max-width: 300px;
}

.upcoming-birthday-articles > * + * {
  margin-top: 0.5em;
}
</style>
