:root {
  --font-size-desktop: 16px;
  --font-size-mobile: 12px;
  --font-family-serif: "Times Newer Roman", "Times New Roman", serif;
  --font-family-sans-serif: "Helvetica Neue", Helvetica, sans-serif;
  --font-family-monospace: Hack, "Courier New", monospace;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
  border-radius: 10px;
}

body {
  font-size: var(--font-size-desktop);
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-family-sans-serif);
  transition: 0.3s color ease-in-out, 0.3s background-color ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:link,
a:visited {
  color: var(--color-bright-purple);
  transition: 0.3s filter ease-in-out;
}

a:hover,
a:focus {
  filter: brightness(70%);
}

*:focus-visible {
  outline: dashed var(--color-primary);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-serif);
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

h6 {
  font-size: 1.1rem;
}

blockquote {
  font-style: italic;
}

input,
textarea,
select {
  background: var(--alt-background-color);
  color: var(--foreground-color);
  border-width: 2px;
  border-style: solid;
  border-color: var(--alt-background-color);
}

input:focus,
textarea:focus,
select:focus {
  border: 2px solid var(--alt-background-color);
}

input::placeholder,
textarea::placeholder {
  color: var(--alt-foreground-color);
}

input[type=range] {
  -webkit-appearance: none;
  height: 30px;
  display: flex;
  align-items: center;
  background: transparent;
  border: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  background: var(--alt-background-color);
  height: 10px;
  border-radius: 20px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  outline: 2px solid var(--color-orange);
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  background: var(--alt-foreground-color);
  transform: translateY(-25%);
}

button {
  background: var(--background-color);
  color: var(--foreground-color);
  border-color: var(--color-bright-gray);
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  border-radius: 5px;
  padding: 0.5em 0.8em;
  transition: all 0.2s ease-in-out;
}

button:disabled {
  background: var(--color-dark-gray);
  cursor: not-allowed;
}

button:not(:disabled):hover,
button:not(:disabled):focus {
  background-color: var(--alt-background-color);
  border-color: var(--alt-foreground-color);
}

button.is-primary {
  background: var(--color-primary);
  border-color: var(--color-primary-alt);
  color: var(--color-foreground);
}

button.is-primary:disabled {
  filter: brightness(70%);
}

button.is-primary:not(:disabled):hover,
button.is-primary:not(:disabled):focus {
  background-color: var(--color-primary-alt);
  border-color: var(--color-primary-alt);
}

button.borderless {
  border: none !important;
  padding: 0.2em 0.5em;
}

button.paddingless {
  padding: 0 !important;
}

select {
  padding: 0.3em 0.5em;
}

.tempo > * + * {
  margin-top: 0.8em;
}

.desc {
  color: var(--color-bright-gray);
  font-size: 0.9em;
}

.text-highlight__error {
  background-color: var(--color-red);
  color: var(--color-foreground);
  padding: 0 0.3em;
}

.text-highlight__warn {
  background-color: var(--color-yellow);
  color: var(--color-foreground);
  padding: 0 0.3em;
}

@media screen and (max-width: 320px) {
  body {
    font-size: var(--font-size-mobile);
  }
}
