:root {
  --dark-liver: #5b545e;
  --gunmetal: #2e3138;
  --eerie-black: #191919;
  --indian-red: #d05353;
  --copper-crayola: #e58f65;
  --mint-green: #b0ff92;
  --minion-yellow: #fce762;
  --carolina-blue: #4ea5d9;
  --dark-orchid: #833ec4;
  --maximum-blue-purple: #9993ea;
  --snow: #fff2f1;
  --lavender-gray: #beb5c2;
  --jet: #303030;
  --fuzzy-wuzzy: #d56464;
  --dark-salmon: #e89c76;
  --granny-smith-apple: #c7ffb1;
  --yellow-crayola: #fcea74;
  --light-sky-blue: #7cc9f6ff;
  --lavender-floral: #bc83f1ff;
  --lavender-blue: #cfccff;

  --color-dark-gray: var(--gunmetal);
  --color-black: var(--eerie-black);
  --color-red: var(--indian-red);
  --color-orange: var(--copper-crayola);
  --color-green: var(--mint-green);
  --color-yellow: var(--minion-yellow);
  --color-blue: var(--carolina-blue);
  --color-purple: var(--dark-orchid);
  --color-cyan: var(--maximum-blue-purple);
  --color-white: var(--snow);
  --color-gray: var(--dark-liver);
  --color-bright-red: var(--fuzzy-wuzzy);
  --color-bright-orange: var(--dark-salmon);
  --color-bright-green: var(--granny-smith-apple);
  --color-bright-yellow: var(--yellow-crayola);
  --color-bright-blue: var(--light-sky-blue);
  --color-bright-purple: var(--lavender-floral);
  --color-bright-cyan: var(--lavender-blue);
  --color-bright-gray: var(--lavender-gray);

  --color-primary: var(--color-purple);
  --color-secondary: var(--color-blue);
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: var(--color-white);
    --alt-background-color: var(--color-bright-gray);
    --foreground-color: var(--color-black);
    --alt-foreground-color: var(--color-gray);
    --color-primary: var(--color-bright-purple);
    --color-primary-alt: var(--color-purple);
    --color-secondary: var(--color-bright-blue);
    --color-secondary-alt: var(--color-blue);
    --box-shadow-color: rgba(206, 206, 206, 0.3);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--color-black);
    --alt-background-color: var(--color-gray);
    --foreground-color: var(--color-white);
    --alt-foreground-color: var(--color-bright-gray);
    --color-primary: var(--color-purple);
    --color-primary-alt: var(--color-bright-purple);
    --color-secondary: var(--color-blue);
    --color-secondary-alt: var(--color-bright-blue);
    --box-shadow-color: rgba(125, 125, 125, 0.3);
  }
}

body.light {
  --background-color: var(--color-white);
  --alt-background-color: var(--color-bright-gray);
  --foreground-color: var(--color-black);
  --alt-foreground-color: var(--color-gray);
  --color-primary: var(--color-bright-purple);
  --color-primary-alt: var(--color-purple);
  --color-secondary: var(--color-bright-blue);
  --color-secondary-alt: var(--color-blue);
  --box-shadow-color: rgba(206, 206, 206, 0.3);
}

body.dark {
  --background-color: var(--color-black);
  --alt-background-color: var(--color-gray);
  --foreground-color: var(--color-white);
  --alt-foreground-color: var(--color-bright-gray);
  --color-primary: var(--color-purple);
  --color-primary-alt: var(--color-bright-purple);
  --color-secondary: var(--color-blue);
  --color-secondary-alt: var(--color-bright-blue);
  --box-shadow-color: rgba(125, 125, 125, 0.3);
}
