*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

fieldset {
  border: 0;
  padding: 0;
}

ul {
  padding-inline-start: 2em;
}

ul[class],
ol[class] {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-inline-start: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/*
 * a elements that do not have a class will
 * get the default style
 */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/*
 * A more sensible default for images
 */
img,
picture {
  max-width: 100%;
  display: block;
}

/*
 * Inputs and buttons should inherit fonts
 */
input,
button,
textarea,
select {
  font: inherit;
}

/*
 * Remove all animations for those who prefer
 * reduced motion
 */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count:: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
