<template>
  <Header />
  <div class="outer-container">
    <router-view></router-view>
  </div>
</template>

<script setup lang="ts">
import Header from "@renderer/components/Header.vue";
import { onMounted } from "vue";
import { useStore } from "vuex";

onMounted(() => {
  const store = useStore();
  store.dispatch("nameOrders/loadNameOrders");
});
</script>

<style scoped>
.outer-container {
  /*
   * We add this additional margin here to ensure that contents are more
   * centered due to the presence of the scrollbar
   */
  margin: 0 5px;
}
</style>
